<%+header%>
<h1><%:network Netzwerk%></h1>
<p><%:network1 In diesem Bereich finden sich alle netzwerkbezogenen Einstellungen.%></p>
<p><%:network2 Der Netzwerkswitch kann bei den meisten Routern frei konfiguriert
und in mehrere VLANs aufgeteilt werden. %></p>
<p><%:network3 Schnittstellen und PPPoE/PPTP-Einstellungen ermöglichen
die freie Organisation des Netzwerks und die Anbindung an ein WAN.%></p>
<p><%:network4 DHCP ermöglichst die automatische Netzwerkkonfiguration von Rechnern im (W)LAN.%></p>
<p><%:network5 Portweiterleitung und Firewall erlauben eine effektive Absicherung des Netzes, bei gleichzeitiger
Bereitstellung von externen Diensten.%></p>
<%+footer%>