<%+header%>
<%
local uci = require "luci.model.uci".cursor()
local contact = uci:get_all("freifunk", "contact")
local contacturl = luci.dispatcher.build_url(luci.dispatcher.context.path[1], "freifunk", "contact")
local hostname = uci:get_first ("system", "system", "hostname")
local latitude = uci:get_first ("system", "system", "latitude")
local longitude = uci:get_first ("system", "system", "longitude")
local location = uci:get_first ("system", "system", "location")
local basicsurl = luci.dispatcher.build_url(luci.dispatcher.context.path[1], "freifunk", "basics")
%>

<h2><%:Freifunk Overview%></h2>

<%:These pages will assist you in setting up your router for Freifunk or similar wireless community networks.%>
<p />

<% if not (hostname and latitude and longitude and location) then%>
<div class="error">
        <%:Basic settings are missing. Please go to this page and fill all required fields: %>
        <a href='<%=basicsurl%>'><%:Basic settings%></a>
</div>
<%end%>
<p />

<% if not (contact.nickname and contact.name and contact.mail) then%>
<div class="error">
	<%:Contact information missing. Please go to this page and fill all required fields: %>
	<a href='<%=contacturl%>'><%:Contact%></a>
</div>
<%end%>

<%+footer%>
