<%
require "luci.sys"
require "luci.tools.webadmin"

-- System

local system, model, memtotal, memcached, membuffers, memfree = luci.sys.sysinfo()
local uptime = luci.sys.uptime()
local load1, load5, load15 = luci.sys.loadavg()
local load = string.format("%.2f, %.2f, %.2f", load1, load5, load15)
local memory = string.format("%.2f MB (%.0f%% %s, %.0f%% %s, %.0f%% %s)",
        tonumber(memtotal) / 1024,
        100 * memcached / memtotal,
        tostring(translate("cached")),
        100 * membuffers / memtotal,
        tostring(translate("buffered")),
        100 * memfree / memtotal,
        tostring(translate("free"))
)
local_time = os.date("%c")
local uptime = luci.tools.webadmin.date_format(tonumber(uptime))

-- Wireless
local uci = require "luci.model.uci".cursor()
ifaces = {}
uci:foreach("wireless", "wifi-iface", function(s)
	if s.network then
		table.insert(ifaces, s.network)
		if (uci:get("network", s.network, "ifname")) then
			has_ifaces = true
		end
	end
end)

-- Routes
local defroutev4 = luci.sys.net.defaultroute()
local defroutev6 = luci.sys.net.defaultroute6 ()

%>
<%+header%>

<div class="cbi-map">
	<h2><%:System%></h2>
	<div class="cbi-section-node">
		<div class="cbi-value"><label class="cbi-value-title"><%:System%></label><div class="cbi-value-field"><%=system%></div></div>
		<div class="cbi-value"><label class="cbi-value-title"><%:Processor%></label><div class="cbi-value-field"><%=model%></div></div>
		<div class="cbi-value"><label class="cbi-value-title"><%:Load%></label><div class="cbi-value-field"><%=load%></div></div>
		<div class="cbi-value"><label class="cbi-value-title"><%:Memory%></label><div class="cbi-value-field"><%=memory%></div></div>
		<div class="cbi-value"><label class="cbi-value-title"><%:Local Time%></label><div class="cbi-value-field"><%=local_time%></div></div>
		<div class="cbi-value"><label class="cbi-value-title"><%:Uptime%></label><div class="cbi-value-field"><%=uptime%></div></div>
	</div>
</div>

<% if has_ifaces == true then %>
<div class="cbi-map">
	<h2><%:Wireless Overview%></h2>
		<div class="cbi-section">
			<div class="cbi-section-node">
				<table class="cbi-section-table">
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell"><%:Signal%></th>
						<th class="cbi-section-table-cell"><%:Bitrate%></th>
						<th class="cbi-section-table-cell"><%:SSID%></th>
						<th class="cbi-section-table-cell"><%:BSSID%></th>
						<th class="cbi-section-table-cell"><%:Channel%></th>
						<th class="cbi-section-table-cell"><%:Mode%></th><th><%:TX%>-<%:Power%></th>
					</tr>

					
	<% for k,v in pairs(ifaces) do
	local iface = uci:get("network", v, "ifname")
		if iface then
		        iwinf = luci.sys.wifi.getiwinfo(iface)
			local signal = iwinf.signal
			local noise = iwinf.noise
			local q = iwinf.quality
			local qmax = iwinf.quality_max
			local qperc = q / qmax * 100
			
			if qperc == 0 then
                                icon = "signal-none.png"
			elseif qperc < 26 then
				icon = "signal-0-25.png"
			elseif qperc < 51 then
				icon = "signal-25-50.png"
			elseif qperc < 76 then
                                icon = "signal-50-75.png"
			elseif qperc < 100 then
                                icon = "signal-75-100.png"
			else
				icon = "signal-0.png"
			end

			signal_string = "<img src='"..resource.."/icons/"..icon.."' title='Signal: "..signal.." db / Noise: "..noise.." db' alt='Signal Quality'></img>"

			local ssid = iwinf.ssid
			local bssid = iwinf.bssid	
			local chan = iwinf.channel
			local mode = iwinf.mode
			local txpwr = iwinf.txpower.." dbm"
			local bitrate = (iwinf.bitrate / 1000).."Mb/s"
			%>
					<tr class="cbi-section-table-row cbi-rowstyle-1">
						<td class="cbi-value-field"><%=signal_string%></td>
						<td class="cbi-value-field"><%=bitrate%></td>
						<td class="cbi-value-field"><%=ssid%></td>
						<td class="cbi-value-field"><%=bssid%></td>
						<td class="cbi-value-field"><%=chan%></td>
						<td class="cbi-value-field"><%=mode%></td><td><%=txpwr%></td>
					</tr>
		<% end %>
	<% end %>
				</table>
		</div>
	</div>
</div>
<% end %>

<div class="cbi-map">
	<h2><%:Default routes%></h2>
		<div class="cbi-section">
                        <div class="cbi-section-node">
                                <table class="cbi-section-table">
					<% if not defroutev4 and not defroutev6 then %>
						<%:No defaultroutes known.%>
					<%else%>
						<tr class="cbi-section-table-titles">
							<th class="cbi-section-table-cell"><%:Network%></th>
							<th class="cbi-section-table-cell"><%:Interface%></th>
							<th class="cbi-section-table-cell"><%:Gateway%></th>
							<th class="cbi-section-table-cell"><%:Metric%></th>
						</tr>
	<% if defroutev4 then %>
						<tr class="cbi-section-table-row cbi-rowstyle-1">
							<td class="cbi-value-field"><%=defroutev4.dest:string()%></td>
							<td class="cbi-value-field"><%=defroutev4.device%></td>
							<td class="cbi-value-field"><%=defroutev4.gateway:string()%></td>
							<td class="cbi-value-field"><%=defroutev4.metric%></td>
						</tr>
	<% end %>
	<% if defroutev6 then %>
						<tr class="cbi-section-table-row cbi-rowstyle-2">
							<td class="cbi-value-field"><%=defroutev6.dest:string()%></td>
							<td class="cbi-value-field"><%=defroutev6.device%></td>
							<td class="cbi-value-field"><%=defroutev6.nexthop:string()%></td>
							<td class="cbi-value-field"><%=defroutev6.metric%></td>
						</tr>
	<% end %>
				</table>
		</div>
	</div>
</div>

<% end %>

<%+footer%>

