<%+header%>
<h1><%:system%></h1>
<h2><%:a_s_packages%></h2>

<br />

<% if install or remove or update or upgrade then %>
<div class="code"><strong><%:status%>:</strong><br />
<% if update then %>
	<%:a_s_packages_update%>: <% if update == 0 then %><span class="ok"><%:ok%></span><% else %><span class="error"><%:error%> (<%:code%> <%=update%>)</span><% end %><br />
<% end %>
<% if upgrade then%>
	<%:a_s_packages_upgrade%>: <% if upgrade == 0 then %><span class="ok"><%:ok%></span><% else %><span class="error"><%:error%> (<%:code%> <%=upgrade%>)</span><% end %><br />
<% end %>
<% if install then for k,v in pairs(install) do %>
	<%:a_s_packages_install%> '<%=k%>': <% if v == 0 then %><span class="ok"><%:ok%></span><% else %><span class="error"><%:error%> (<%:code%> <%=v%>)</span><% end %><br />
<% end end %>
<% if remove then for k,v in pairs(remove) do %>
	<%:a_s_packages_remove%> '<%=k%>': <% if v == 0 then %><span class="ok"><%:ok%></span><% else %><span class="error"><%:error%> (<%:code%> <%=v%>)</span><% end %><br />
<% end end %>
</div>
<br />
<% end %>

<div>
<a href="<%=controller%>/admin/system/packages/ipkg"><%:a_s_packages_ipkg%></a><br />
<a href="<%=controller%>/admin/system/packages?update=1"><%:a_s_packages_updatelist%></a><br />
<a href="<%=controller%>/admin/system/packages?upgrade=1"><%:a_s_packages_upgrade%></a>
</div>

<br />
<br />

<form method="post" action="<%=controller%>/admin/system/packages">
	<div>
		<span class="bold"><%:a_s_packages_installurl%>:</span><br />
		<input type="text" name="url" size="30" value="" />
		<input type="submit" name="submit" value="<%:ok%>" />
	</div>
	
	<br />
	<br />

	<div>
		<span class="bold"><%:filter%>:</span>
		<input type="text" name="query" size="20" value="<%=query%>" />
		<input type="submit" name="search" value="<%:a_s_packages_search%>" />
		<input type="submit" name="submit" value="<%:a_s_packages_do%>" />
	</div>
	
	<br />
	<br />
	
	<div>
	<table style="font-size: 0.8em">
		<tr>
			<th><%:a_s_packages_name%></th>
			<th><%:version%></th>
			<th><%:install%></th>
			<th><%:delete%></th>
			<th><%:descr%></th>
		</tr>
		<% for k, pkg in pairs(pkgs) do %>	
		<tr>
			<td><%=pkg.Package%></td>
			<td><%=pkg.Version%></td>
			<td><% if not pkg.Status or not pkg.Status.installed then %><input type="checkbox" name="install.<%=pkg.Package%>" value="1" /><% else %><%:installed%><% end %></td>
			<td><% if pkg.Status and pkg.Status.installed then %><input type="checkbox" name="remove.<%=pkg.Package%>" value="1" /><% else %><%:notinstalled%><% end %></td>
			<td><%=pkg.Description%></td>
		</tr>
		<% end %>
	</table>
	</div>
	<br />
	<input type="submit" name="submit" value="<%:a_s_packages_do%>" />
</form>
<%+footer%>