<%+header%>
<h1><%:system System%></h1>
<h2><%:a_s_changepw Passwort ändern%></h2>
<p><%:a_s_changepw1 Ändert das Passwort des Systemverwalters (Benutzer "root")%></p>
<div><br />
<% if stat then %>
	<% if stat == 0 then %>
		<code><%:a_s_changepw_changed Passwort erfolgreich geändert%>!</code>
	<% elseif stat == 10 then %>
		<code class="error"><%:a_s_changepw_nomatch Passwörter stimmen nicht überein%>!</code>
	<% else %>
		<code class="error"><%:unknownerror Unbekannter Fehler%>!</code>
	<% end %>
<% end %>
<% if not stat or stat == 10 then %>
	<form method="post" action="<%=controller%>/admin/system/passwd">
		<div class="cbi-section-node">
			<div class="cbi-value">
				<div class="cbi-value-title"><%:password Passwort%></div>
				<div class="cbi-value-field"><input type="password" name="pwd1" /></div>
			</div>
			<div class="cbi-value">
				<div class="cbi-value-title"><%:confirmation Bestätigung%></div>
				<div class="cbi-value-field"><input type="password" name="pwd2" /></div>
			</div>
			<br />
			<div>
				<input type="submit" value="<%:save Speichern%>" />
				<input type="reset" value="<%:reset Zurücksetzen%>" />
			</div>
		</div>
	</form>
<% end %>
</div>
<%+footer%>