<%+header%>
<h1><%:system%></h1>
<h2><%:a_s_sshkeys%></h2>

<br />

<div><%:a_s_sshkeys1%></div>

<br />

<form method="post" action="<%=controller%>/admin/system/sshkeys">
	<div class="cbi-section-node" style="width: 100%">
		<div class="cbi-value">
			<div class="cbi-value-field">
				<textarea style="width: 100%" rows="10" name="data"><%=cnt%></textarea>
			</div>
		</div>
	</div>
	<div>
		<input type="submit" value="<%:save%>" />
		<input type="reset" value="<%:reset%>" />
	</div>
	<% if msg then %><br /><div class="error"><%:error%>: <%=msg%></div><% end %>
</form>
<%+footer%>