<%+header%>
<h1><%:system%></h1>
<h2><%:a_s_flash%></h2>
<p><%:a_s_flash_upgrade1%></p>
<br />
<% if sysupgrade and not ret then %>
<form method="post" action="<%=luci.http.getenv("REQUEST_URI")%>" enctype="multipart/form-data">
	<div class="cbi-section-node">
		<div class="cbi-value clear">
			<div class="cbi-value-title left"><%:a_s_flash_fwimage%></div>
			<div class="cbi-value-field"><input type="file" size="30" name="image" /></div>
		</div>
		<br />
		<div class="cbi-value clear">
			<input type="checkbox" name="keepcfg" value="1" checked="checked" />
			<span class="bold"><%:a_s_flash_keepcfg%></span>
		</div>
		<br />
		<div>
			<input type="submit" value="<%:a_s_flash_fwupgrade%>" />
		</div>
	</div>
</form>
<% elseif ret then %>
	<% if ret == 0 then %>
<div class="ok"><%:a_s_flash_flashed%></div>
	<% else %>
<div class="error"><%:a_s_flash_flasherr%>! (<%:code%> <%=ret%>)</div>	
	<% end %>
<% else %>
<div class="error"><%:a_s_flash_notimplemented%></div>
<% end %>
<%+footer%>