<h3><%:Legend%>:</h3>
<ul>
	<li><strong>Metric in: </strong><%:Incoming link metric %></li>
	<li><strong>Metric out: </strong><%:Outgoing link metric %></li>
	<li><strong>Willingness: </strong><%:Willingness gives a rough estimation how willing a node is to forward traffic. 0 means the node will never forward traffic, 15 means the node will always forward traffic%></li>
	<li style="list-style: none">
	<ul>
		<li><strong><span style="color:#00cc00"><%:Green%></span></strong>:<%:Very good (Metric < 4)%></li>
		<li><strong><span style="color:#ffcb05"><%:Yellow%></span></strong>:<%:Good (4 < Metric < 10)%></li>
		<li><strong><span style="color:#ff6600"><%:Orange%></span></strong>:<%:Still usable (10 < Metric < 100)%></li>
		<li><strong><span style="color:#bb3333"><%:Red%></span></strong>:<%:Bad (Metric > 100)%></li>
	</ul>
	</li>
	<li><strong>SNR: </strong><%:Signal Noise Ratio in dB%></li>
	<li style="list-style: none">
	<ul>
		<li><strong><span style="color:#00cc00"><%:Green%></span></strong>:<%:Very good (SNR > 30)%></li>
		<li><strong><span style="color:#ffcb05"><%:Yellow%></span></strong>:<%:Good (30 > SNR > 20)%></li>
		<li><strong><span style="color:#ff6600"><%:Orange%></span></strong>:<%:Still usable (20 > SNR > 5)%></li>
		<li><strong><span style="color:#bb3333"><%:Red%></span></strong>:<%:Bad (SNR < 5)%></li>
	</ul>
	</li>
</ul>

