<%
local olsrtools = require "luci.tools.olsr2"
local i = 1

if luci.http.formvalue("status") == "1" then
	for k, link in ipairs(links) do
		local willingness_color = olsrtools.willingness_color(link.domain_mpr_willingness)
		local metric_in_color = olsrtools.metric_color(link.domain_metric_in_raw)
		local metric_out_color = olsrtools.metric_color(link.domain_metric_out_raw)
		local snr_color = olsrtools.snr_color(link.snr)

		links[k].willingness_color = willingness_color
		links[k].metric_in_color = metric_in_color
		links[k].metric_out_color = metric_out_color
		links[k].snr_color = snr_color
	end
	luci.http.prepare_content("application/json")
	luci.http.write_json(links)
	return
end
%>

<%+header%>

<script type="text/javascript">//<![CDATA[

	XHR.poll(10 , '<%=REQUEST_URI%>', { status: 1 }, 
		function(x, info)
		{
		var nt = document.getElementById('olsr2_neigh_table');
			if (nt)
			{
				var s = '<div class="tr cbi-section-table-cell">' +
				'<div class="th cbi-section-table-cell"><%:Neighbour IP%></div>' +
				'<div class="th cbi-section-table-cell"><%:Hostname%></div>' +
				'<div class="th cbi-section-table-cell"><%:Interface%></div>' +
				'<div class="th cbi-section-table-cell"><%:Local interface IP%></div>' +
				'<div class="th cbi-section-table-cell">Metric in</div>' +
				'<div class="th cbi-section-table-cell">Metric out</div>' +
				'<div class="th cbi-section-table-cell">Willingness</div>' +
				'<div class="th cbi-section-table-cell">SNR</div>' +
				'</div>';

				for (var idx = 0; idx < info.length; idx++)
				{
					var neigh = info[idx];

					if (neigh.proto == '6') {
						s += String.format(
							'<div class="tr cbi-section-table-row cbi-rowstyle-'+(1 + (idx % 2))+' proto-%s">' +
							'<div class="td cbi-section-table-cell left"><a href="https://[%s]/cgi-bin-olsr2-neigh.html">%s</a></div>',
							neigh.proto, neigh.neighbor_originator, neigh.neighbor_originator
						);
					} else {
						s += String.format(
							'<div class="tr cbi-section-table-row cbi-rowstyle-'+(1 + (idx % 2))+' proto-%s">' +
							'<div class="td cbi-section-table-cell left"><a href="https://%s/cgi-bin-olsr2-neigh.html">%s</a></div>',
							neigh.proto, neigh.neighbor_originator, neigh.neighbor_originator
						);
					}
					if (neigh.hn) {
						s += String.format(
							'<div class="td cbi-section-table-cell left"><a href="https://%s/cgi-bin-olsr2-neigh.html">%s</a></div>',
							neigh.hostname, neigh.hostname
						);
					} else {
						s += String.format(
							'<div class="td cbi-section-table-cell left">?</div>'
						);
					}
					s += String.format(
						'<div class="td cbi-section-table-cell left">%s</div>' +
						'<div class="td cbi-section-table-cell left">%s</div>' +
						'<div class="td cbi-section-table-cell left" style="background-color:%s" title="Metric: %s">%s</div>' +
						'<div class="td cbi-section-table-cell left" style="background-color:%s" title="Metric: %s">%s</div>' +
						'<div class="td cbi-section-table-cell left" style="background-color:%s">%s</div>' +
						'<div class="td cbi-section-table-cell left" style="background-color:%s" title="Signal: %s Noise: %s">%s</div>' +
						'</div>',
						neigh.interface, neigh.localIP,
						neigh.metric_in_color, neigh.domain_metric_in_raw, neigh.domain_metric_in,
						neigh.metric_out_color, neigh.domain_metric_out_raw, neigh.domain_metric_out,
						neigh.willingness_color, neigh.domain_mpr_willingness,
						neigh.snr_color, neigh.signal, neigh.noise, neigh.snr || '?'
					);
				}

				nt.innerHTML = s;
			}
		}
	);
//]]></script>


<h2 name="content"><%:OLSR2 connections%></h2>

<fieldset class="cbi-section">
	<legend><%:Overview of currently established OLSR2 connections%></legend>

	<div class="table cbi-section-table" id="olsr2_neigh_table">
			<div class="tr cbi-section-table-cell">
				<div class="th cbi-section-table-cell"><%:Neighbour IP%></div>
				<div class="th cbi-section-table-cell"><%:Hostname%></div>
				<div class="th cbi-section-table-cell"><%:Interface%></div>
				<div class="th cbi-section-table-cell"><%:Local interface IP%></div>
				<div class="th cbi-section-table-cell">Metric in</div>
				<div class="th cbi-section-table-cell">Metric out</div>
				<div class="th cbi-section-table-cell">Willingness</div>
				<div class="th cbi-section-table-cell">SNR</div>
			</div>
	</div>
<br />

<%+status-olsr2/legend%>
</fieldset>
<%+footer%>
