<%+header%>
<h1><%:system System%></h1>
<p><%:system1 Hier finden sich Einstellungen, die das System selbst, dessen Kennung,
installierte Software und Hardware, Authentifizierung oder eingehängte Speicher betreffen.%></p>
<p><%:system2 Diese Einstellungen definieren die Grundlage des Systems, auf dem die
installierte Software aufbaut.%></p> 
<p><%:system3 Beachte bitte, dass eine fehlerhafte Konfiguration den Start
des Routers verhindern oder dich vom Zugriff auf diesen ausschließen kann.%></p> 
<%+footer%>