<%
local dsp = require "luci.dispatcher"
local utl = require "luci.util"
local str = require "luci.store"

local nws = {}
str.uci_state:foreach("network", "interface", function(s)
	nws[#nws+1] = s
end)
%>
<div>Status:</div>
<table>
<% 
for _, v in ipairs(nws) do if v[".name"] ~= "loopback" then
%>
<tr><td><%=v[".name"]%></td><td><%=v.ipaddr%></td></tr>
<% end end %>
</table>
<br />
<ul>
<%
local nodes = dsp.node("niu", "network").nodes
local function cmp(a, b)
	return (nodes[a].order or 100) < (nodes[b].order or 100)
end
for k, v in utl.spairs(nodes, cmp) do
%>
<li><a href="<%=dsp.build_url("niu", "network", k)%>"><%=v.title%></a></li>
<%
end
%>
</ul>