Du bist jetzt mit dem freien Funknetz 
<a href="<%~freifunk.community.homepage%>"><%~freifunk.community.name%></a>
verbunden. Wir sind ein experimentelles Gemeinschaftsnetzwerk, aber kein Internetanbieter.

<br />

Ein Zugang <strong>ins Internet</strong> ist trotzdem möglich,
da einige Freifunker ihre privaten Internetzugänge zur Verfügung stellen.
Diese Zugänge müssen sich hier alle teilen.
Bitte sei Dir dessen bewusst und verhalte Dich dementsprechend:
<ul>
<li>bitte keine Filesharing-Programme betreiben!</li>
<li>bitte keine unnötigen Downloads bzw. Streams starten</li>
<li>bitte keine illegalen Sachen machen</li>
</ul>

<p>
Wenn Du unsere Idee gut findest, kannst Du mitmachen bzw. uns unterstützen:
<ul>
<li>Werde selbst Freifunker oder teile deinen Internetzugang!</li>
<li>Betreibe deine anderen WLAN-Geräte <em>NICHT</em> auf den Kanälen 1-5, diese stören oft das Freifunk-Netz.</li>
</ul>
</p>