dist/
node_modules/
/host
*.o
*.so
*.swp
*.po~
*.mo
package-lock.json
modules/luci-base/src/po2lmo
modules/luci-base/src/jsmin
modules/luci-base/src/contrib/lemon
modules/luci-base/src/lib/plural_formula.c
modules/luci-base/src/lib/plural_formula.h
modules/luci-compat/src/contrib/lemon
modules/luci-compat/src/plural_formula.c
modules/luci-compat/src/plural_formula.h
docs/jsapi/*
!docs/jsapi/README.md
**eslint.config**