dist/
/host
*.o
*.so
*.swp
*.po~
modules/luci-base/src/po2lmo
modules/luci-base/src/jsmin
modules/luci-base/src/contrib/lemon
modules/luci-base/src/plural_formula.c
modules/luci-base/src/plural_formula.h
