#tabmenu {
	line-height: 0;
}

ul.tabmenu {
	zoom: 1;
}

ul.l1 {
	position: relative;
}


table.cbi-section-table td .cbi-input-text,
table.cbi-section-table td .cbi-input-select {
	width: 95% !important;
}


.cbi-input-user,
.cbi-input-password {
	text-indent: 0 !important;
	padding-left: 1.5em !important;
	width: 18.5em !important;
}


fieldset.cbi-section {
	position: relative;
	margin-top: 1em;
	padding-top: 0.75em;
	border: 1px solid #5d5d5d;
	zoom: 1;
}

fieldset.cbi-section legend {
	position: absolute;
	top: -0.75em;
	left: 0.5em;
}


ul.cbi-tabmenu {
	margin-bottom: 0;
}

ul.cbi-tabmenu li.cbi-tab a {
	position: static;	/* fixes misplaced tab after page load */
	border-bottom: 1px solid white;
}


div.cbi-value {
	zoom: 1;	/* fixes hanging float */
}

div.cbi-value-field {
	margin-left: 0 !important;
}
