<%#
 Copyright 2009 Daniel Dickinson
 Licensed to the public under the Apache License 2.0.
-%>

<%-
local rowcnt = 1
function rowstyle()
	rowcnt = rowcnt + 1
	return (rowcnt % 2) + 1
end
-%>

<!-- smapsection -->
<fieldset class="cbi-section" id="cbi-<%=self.config%>-<%=self.sectiontype%>">
	<% if self.title and #self.title > 0 then -%>
		<legend><%=self.title%></legend>
	<%- end %>
	<div class="cbi-section-descr"><%=self.description%></div>
	<div class="cbi-section-node">
		<%- local count = 0 -%>
		<table class="cbi-section-table">
			<tr class="cbi-section-table-titles">
			<%- if not self.anonymous then -%>
				<%- if self.sectionhead then -%>
					<th class="cbi-section-table-cell"><%=self.sectionhead%></th>
				<%- else -%>
					<th>&#160;</th>
				<%- end -%>
			<%- end -%>
			<%- for i, k in pairs(self.children) do if not k.optional then -%>
				<th class="cbi-section-table-cell">
				<%- if k.titleref then -%><a title="<%=self.titledesc or translate('Go to relevant configuration page')%>" class="cbi-title-ref" href="<%=k.titleref%>"><%- end -%>
					<%-=k.title-%>
				<%- if k.titleref then -%></a><%- end -%>
				</th>
			<%- count = count + 1; end; end; if self.extedit or self.addremove then -%>
				<th class="cbi-section-table-cell">&#160;</th>
			<%- count = count + 1; end -%>
			</tr>
			<tr class="cbi-section-table-descr">
			<%- if not self.anonymous then -%>
				<%- if self.sectiondesc then -%>
					<th class="cbi-section-table-cell"><%=self.sectiondesc%></th>
				<%- else -%>
					<th></th>
				<%- end -%>
			<%- end -%>
			<%- for i, k in pairs(self.children) do if not k.optional then -%>
				<th class="cbi-section-table-cell"><%=k.description%></th>
			<%- end; end; if self.extedit or self.addremove then -%>
				<th class="cbi-section-table-cell"></th>
			<%- end -%>
			</tr>
			<%- local isempty = true
			    for i, k in ipairs(self:cfgsections()) do
					section = k
					isempty = false
					scope = { valueheader = "cbi/cell_valueheader", valuefooter = "cbi/cell_valuefooter" }
			-%>
			<tr class="cbi-section-table-row<% if self.extedit or self.rowcolors then %> cbi-rowstyle-<%=rowstyle()%><% end %>" id="cbi-<%=self.config%>-<%=section%>">
				<% if not self.anonymous then -%>
					<th><h3><%=k%></h3></th>
				<%- end %>

				<%-	for k, node in ipairs(self.children) do -%>
					<%-    if not node.optional then -%>
					       <%- nodevalue = node:cfgvalue(section) -%>
					       <%- if nodevalue and ( nodevalue ~= "" ) and string.find(nodevalue, 'http://', 1, plain) then
					       	       node.href = nodevalue
						       node.template = "diag/smapvalue"
						    end 
                                               -%>
					       <%- node:render(section, scope or {}) -%>
					<%- end -%>
                                <%- end -%>

				<%- if self.extedit or self.addremove then -%>
					<td class="cbi-section-table-cell">
						<%- if self.extedit then -%>
							<a href="
							<%- if type(self.extedit) == "string" then -%>
								<%=self.extedit:format(section)%>
							<%- elseif type(self.extedit) == "function" then -%>
								<%=self:extedit(section)%>
							<%- end -%>
							" title="<%:Edit%>"><img style="border: none" src="<%=resource%>/cbi/edit.gif" alt="<%:Edit%>" /></a>
						<%- end; if self.addremove then %>
							<input type="image" value="<%:Delete%>" name="cbi.rts.<%=self.config%>.<%=k%>" alt="<%:Delete%>" title="<%:Delete%>" src="<%=resource%>/cbi/remove.gif" />
						<%- end -%>
					</td>
				<%- end -%>
			</tr>
			<%- end -%>

			<%- if isempty then -%>
			<tr class="cbi-section-table-row">
				<td colspan="<%=count%>"><em><br /><%:This section contains no values yet%></em></td>
			</tr>
			<%- end -%>
		</table>

		<% if self.error then %>
			<div class="cbi-section-error">
				<ul><% for _, c in pairs(self.error) do for _, e in ipairs(c) do -%>
					<li><%=luci.util.pcdata(e):gsub("\n","<br />")%></li>
				<%- end end %></ul>
			</div>
		<% end %>

		<%- if self.addremove then -%>
			<% if self.template_addremove then include(self.template_addremove) else -%>
			<div class="cbi-section-create cbi-smapsection-create">
				<% if self.anonymous then %>
					<input class="cbi-button cbi-button-add" type="submit" value="<%:Add%>" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>" title="<%:Add%>" />
				<% else %>
					<% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
					<input type="text" class="cbi-section-create-name" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>" />
					<input class="cbi-button cbi-button-add" type="submit" value="<%:Add%>" title="<%:Add%>" />
					<% if self.invalid_cts then -%>
						<br /><%:Invalid%></div>
					<%- end %>
				<% end %>
			</div>
			<%- end %>
		<%- end -%>
	</div>
</fieldset>
<!-- /smapsection -->
