<%+header%>
<h1><%:status%></h1>
<h2><%:system%></h2>

<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:system_type%>:</th>
<td><%=s%></td>
</tr>
<tr>
<th><%:cpu%>:</th>
<td><%=m%></td>
</tr>
<tr>
<th><%:ram%>:</th>
<td><%=r%></td>
</tr>
</table>
<br /><br />

<h2><%:wifi%></h2>
<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:name%></th>
<th><%:protocol%></th>
<th><%:frequency%></th>
<th><%:power%></th>
<th><%:bitrate%></th>
<th><%:rts%></th>
<th><%:frag%></th>
<th><%:link%></th>
<th><%:signal%></th>
<th><%:noise%></th>
</tr>
<%for k, v in pairs(luci.sys.wifi.getiwconfig()) do
%>
<tr>
<td rowspan="2"><%=k%></td>
<td><%=v[1]%></td>
<td><%=v.Frequency%></td>
<td><%=v["Tx-Power"]%></td>
<td><%=v["Bit Rate"]%></td>
<td><%=v["RTS thr"]%></td>
<td><%=v["Fragment thr"]%></td>
<td><%=v["Link Quality"]%></td>
<td><%=v["Signal level"]%></td>
<td><%=v["Noise level"]%></td>
</tr>
<tr>
<td colspan="4"><strong>ESSID: </strong><%=v.ESSID%></td>
<td colspan="5"><strong>BSSID: </strong><%=(v.Cell or v["Access Point"])%></td>
</tr>
<%end%>
</table>
<br />
<br />
<h2><%:defroutes%></h2>
<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:gateway%></th>
<th><%:metric%></th>
<th><%:iface%></th>
</tr>
<%
for i, rt in pairs(routes) do
%>
<tr>
<td><%=luci.sys.net.hexip4(rt.Gateway)%></th>
<td><%=rt.Metric%></th>
<td><%=rt.Iface%></th>
</tr>
<% end %>
</table>
<%+footer%>