<%+header%>
<h1><%:a_i_i_hello Hallo!%></h1>
<p><%:a_i_i_admin1 Dies ist der Administrationsbereich von LuCI.%></p>
<p><%:a_i_i_admin2 LuCI ist eine freie, flexible und benutzerfreundliche grafische Oberfläche zur Konfiguration von OpenWRT Kamikaze.%><br />
<%:a_i_i_admin3 Auf den folgenden Seiten können alle wichtigen Einstellungen des Routers vorgenommen werden.%></p>
<p><%:a_i_i_admin4 Auf der linken Seite befindet sich eine Navigation, die zu den einzelnen Konfigurationsseiten führt.%></p>
<p><%:a_i_i_admin5 Wir sind natürlich stets darum bemüht, diese Oberfläche 
noch besser und intuitiver zu Gestalten und freuen uns über jegliche Art von Feedback oder Verbesserungsvorschlägen.%></p>
<p><%:a_i_i_admin6 Und nun wünschen wir viel Spaß mit dem Router!%></p>
<p><em><strong><a href="<%=controller%>/about"><%:a_i_i_team Das LuCI-Team%></a></strong></em></p> 
<%+footer%>