<%+header%>
<h1><%:hello Hallo!%></h1>
<p><%:admin1 Dies ist der Administrationsbereich von LuCI.%></p>
<p><%:admin2 LuCI ist eine freie, flexible und benutzerfreundliche grafische Oberfläche zur Konfiguration von OpenWRT Kamikaze.%><br />
<%:admin3 Auf den folgenden Seiten können alle wichtigen Einstellungen des Routers vorgenommen werden.%></p>
<p><%:admin4 Auf der linken Seite befindet sich eine Navigation, die zu den einzelnen Konfigurationsseiten führt.%></p>
<p><%:admin5 Wir sind natürlich stets darum bemüht, diese Oberfläche 
noch besser und intuitiver zu Gestalten und freuen uns über jegliche Art von Feedback oder Verbesserungsvorschlägen.%></p>
<p><%:admin6 Und nun wünschen wir viel Spaß mit dem Router!%></p>
<p><em><strong><a href="<%=controller%>/about"><%:team Das LuCI-Team%></a></strong></em></p> 
<%+footer%>