<%+header%>
<h1><%:routes%></h1>

<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:target%></th>
<th><%:routes_netmask%></th>
<th><%:routes_gateway%></th>
<th><%:routes_metric%></th>
<th><%:interface%></th>
</tr>
<%
local routes = luci.sys.net.routes()

for i, r in pairs(routes) do
%>
<tr>
<td><%=luci.sys.net.hexip4(r.Destination)%></td>
<td><%=luci.sys.net.hexip4(r.Mask)%></td>
<td><%=luci.sys.net.hexip4(r.Gateway)%></td>
<td><%=r.Metric%></td>
<td><%=r.Iface%></td>
</tr>
<% end %>
</table>
<br />
<%+footer%>