fieldset.dbbox {
	float: left;
	margin: 1em;
	padding: 0.5em;
	background: #eeeeee;
	border: 1px solid #cccccc;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

fieldset.dbbox h2 {
	background: url(icons32/folder.png) no-repeat right;
	min-height: 24px;
}

table.dbstattbl {
	text-align: left;
	width: 100%;
}

table.dbstattbl th {
	margin-right: 0.5em;
}