<%+header%>

<!--[if IE]><script type="text/javascript" src="<%=resource%>/livestats/ExCanvas.js"></script><![endif]-->
<script type="text/javascript" src="<%=resource%>/livestats/MochiKit.js"></script>
<script type="text/javascript" src="<%=resource%>/livestats/JsonRpc.js"></script>
<script type="text/javascript" src="<%=resource%>/livestats/PlotKit.js"></script>
<script type="text/javascript" src="<%=resource%>/livestats/GraphRPC.js"></script>
<script type="text/javascript" src="<%=resource%>/livestats/Legend.js"></script>

<script type="text/javascript">
	function initGraphs() {
		var rpc = new GraphRPC(
			document.getElementById('live_graphs'),
			'<%=luci.dispatcher.build_url('rpc', 'sys')%>', 'wifi.getiwconfig',
			1500,

			// Data sources
			[ function(data) {
				return parseFloat(data["Signal level"])
				 - parseFloat(data["Noise level"]);
			}, "S/N (dB)"],

			// Graph layout options
			{ drawBackground: false, yAxis: [ 0, 50 ],
			  title: '<%:signal-to-noise ratio for%> %s',
			  padding: { left: 40, right: 10, top: 10, bottom: 20 },
			  instanceNames: {
				<%- for k,v in pairs(luci.sys.wifi.getiwconfig()) do %>
					<%-="%q:%q," % {k, "%s (%s)" % {k, luci.util.pcdata(tostring(v.ESSID))}}-%>
				<% end %>
				"0": ""
			  }},
			null,
			'live_graphs'
		);
	}

	MochiKit.DOM.addLoadEvent(initGraphs);
</script>

<div id="live_graphs"></div>

<%+footer%>
