<%#
cc-by-sa Andreas Pittrich <andreas.pittrich@web.de>
in behalf of the german pirate party (Piratenpartei)
www.piratenpartei.de

$Id$

-%>
<%+cbi/valueheader%>

		<% if self:cfgvalue(section) ~= false then %>
			<% if self.latfield and self.lonfield then %>
				<input type="hidden" <%= attr("value", string.format('cbid.%s.%s.%s', self.config, section, self.latfield))..attr("id", cbid..".latfield")..attr("name", cbid..".latfield")%>/>
				<input type="hidden" <%= attr("value", string.format('cbid.%s.%s.%s', self.config, section, self.lonfield))..attr("id", cbid..".lonfield")..attr("name", cbid..".lonfield")%>/>
			<% end %>
			<input type="hidden" <%= attr("value", self.centerlat)..attr("id", cbid..".centerlat")..attr("name", cbid..".centerlat")%>/>
			<input type="hidden" <%= attr("value", self.centerlon)..attr("id", cbid..".centerlon")..attr("name", cbid..".centerlon")%>/>
			<input type="hidden" <%= attr("value", self.zoom)..attr("id", cbid..".zoom")..attr("name", cbid..".zoom")%>/>
		<% end %>

		<% if self.popup then %>
			<input class="cbi-button cbi-input-button" type="button"<%= attr("name", cbid..".button")..attr("id", cbid..".button")..attr("value", self.displaytext)%> 
					onclick="
						popup=window.open('/luci-static/resources/OSMLatLon.htm', '<%=cbid%>.window', 'innerWidth=<%=self.width%>, innerHeight=<%=self.height%>, location=no, menubar=no, scrollbars=no, status=no, toolbar=no');
						popup.focus();
					"
			/>
	</div>
	<div>		
		<% else %>
			<input class="cbi-button cbi-input-button" type="button"<%= attr("name", cbid..".displayosm")..attr("id", cbid..".displayosm")..attr("value", self.displaytext)%> 
					onclick="
						document.getElementById('<%=cbid..".hideosm"%>').style.display='inline';
						document.getElementById('<%=cbid..".displayosm"%>').style.display='none';
						for(var i = 0; Math.min(i, window.frames.length)!=window.frames.lengths; i++){
							if(frames[i].name=='<%=cbid..".iframe"%>'){								
								document.getElementById('<%=cbid..".iframediv"%>').style.display='block';
								frames[i].location.href='/luci-static/resources/OSMLatLon.htm';
							}
                                                }
					"
			/>
			<input class="cbi-button cbi-input-button" style="display:none" type="button"<%= attr("name", cbid..".hideosm")..attr("id", cbid..".hideosm")..attr("value", self.hidetext)%> 
					onclick="
						document.getElementById('<%=cbid..".displayosm"%>').style.display='inline';
						document.getElementById('<%=cbid..".hideosm"%>').style.display='none';
						document.getElementById('<%=cbid..".iframediv"%>').style.display='none';
					"
			/>
	</div>
	<div class="cbi-value-osmiframesection" id="<%=cbid..".iframediv"%>" style="display:none">
			<iframe src="" <%= attr("id", cbid..".iframe")..attr("name", cbid..".iframe")..attr("width", self.width)..attr("height", self.height)%> frameborder="0" scrolling="no"></iframe>
		<%end%>

<%+cbi/valuefooter%>
