<%+header%>
<h1><%:olsrlinks OLSR-Verbindungen%></h1>
<p><%:olsrlinks1 Übersicht über aktuell bestehende OLSR-Verbindungen%></p>
<br />
<table cellspacing="0" cellpadding="6">
<tr>
<th><%:destination Ziel%></th>
<th><%:local Lokal%></th>
<th>LQ</th>
<th>NLQ</th>
<th>ETX</th>
</tr>
<% for k, link in ipairs(links) do 
	local color = "#bb3333"
	
	link.ETX = tonumber(link.ETX)
	if link.ETX == 0 then
		color = "#bb3333"
	elseif link.ETX < 4 then
		color = "#00cc00"
	elseif link.ETX < 10 then
		color = "#ffcb05"
	elseif link.ETX < 100 then
		color = "#ff6600"
	end
%>
<tr>
<td><a href="http://<%=link["remote IP"]%>"><%=link["remote IP"]%></a></td>
<td><%=link["Local IP"]%></td>
<td><%=link.LinkQuality%></td>
<td><%=link.NLQ%></td>
<td style="background-color:<%=color%>"><%=link.ETX%></td>
</tr>
<% end %>
</table>
<br />
<h3><%:legend Legende%>:</h3>
<ul>
<li><strong>LQ: </strong><%:lq1 Erfolgsquote gesendeter Pakete%></li>
<li><strong>NLQ: </strong><%:nlq1 Erfolgsquote empfangener Pakete%></li>
<li><strong>ETX: </strong><%:etx1 Zu erwartende Sendeversuche pro Paket%></li>
</ul>
<%+footer%>