<%#
 Copyright 2019-2020 ZHANG Zhao <Zhao.Zhang2@etu.univ-grenoble-alpes.fr>
 Licensed to the public under the Apache License 2.0.
-%>

<% css = [[

.cbi-dropdown:not(.btn):not(.cbi-button) > ul > li {
	flex-grow: initial;
}

.cbi-section-table-row > div:first-child {
	min-width: 172px;
}

.cbi-section-table-row > div:nth-child(2) > div > div {
	min-width: initial!important;
}

.cbi-section-table-row > div:nth-child(3) > div > div {
	min-width: initial!important;
}

.cbi-section-node .cbi-value .cbi-value-field > .cbi-dropdown > ul{
	justify-content: space-evenly;
}

.cbi-section-node .cbi-value .cbi-value-field > .cbi-dropdown > ul > li[display]:not([display="0"]) {
	padding-left: 20px;
}

.cbi-section-node .cbi-value .cbi-dropdown-open > .cbi-dropdown > ul > li {
	padding-left:0!important;
}

]] -%>

<%+header%>

<div id="view">
	<div class="spinning"><%:Loading view…%></div>
</div>

<script type="text/javascript">
	L.require('ui').then(function(ui) {
		ui.instantiateView('simple_configuration/port_forwards');
	});
</script>

<%+footer%>
