#bodydiv
{
	margin:0;
}
* html div.cbi-value-description {
	width: auto !important;
}

* html div.cbi-value-field {
	margin-left: 0 !important;
	width: 100% !important;
}

* html .cbi-input-text,
* html .cbi-input-user,
* html .cbi-input-select,
* html .cbi-input-password {
	width: 50% !important;
}

* html .cbi-input-user,
* html .cbi-input-password {
	text-indent: 0 !important;
	padding-left: 1.5em !important;
}

* html .cbi-section legend {
	background-color: #ffffff;
	color: #555555;
}

* html table.cbi-section-table td .cbi-input-text,
* html table.cbi-section-table td .cbi-input-select {
	width: 100% !important;
}

* html div.cbi-page-actions {
	text-align: right !important;
}

* html div.cbi-value-field input,
* html div.cbi-value-field select {
	font-size: 90% !important;
}
