base {
	log_debug = off;
	log_info = on;
	log = "syslog:daemon";
	daemon = on;
	redirector = iptables;
}

redsocks {

	local_ip = 0.0.0.0;
	local_port = |LOCALPORT|;

	ip = |PROXYIP|;
	port = |PROXYPORT|;

	// known types: direct, socks4, socks5, http-connect, http-relay
	type = |PROXYTYPE|;
	autoproxy = |AUTOPROXY|;
	timeout = |TIMEOUT|;
}
