* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #4a6b7c;
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
	line-height: 100%;
}

code {
	font-family: monospace;
	white-space: pre;
}

div#maincontent ul {
	margin-left: 2em;
}

.warning {
	color: red !important;
	font-weight: bold;
}

.clear {
	clear: both;
	height: 1px;
}

.hidden {
	display: none;
}

.error {
	color: #ff0000;
}

#header {
	background-color: #557788;
	text-align: right;
}

#header .info {
	padding: 1em 1em;
	font-size: 70%;
	line-height: 160%;
}

#header .title {
	display: none;
}

.pathbar {
	display: none;
}

.menubar {
	width: 100%;
	min-height: 1.8em;
	background: #000000;
	color: #ffffff;
}

.mainmenu {
	float: left;
	width: auto;
	min-height: 1.8em;
	background: #000000;
	color: #ffffff;
}

.mainmenu div {
	float: left;
}

.mainmenu li {
	white-space: nowrap;
}

.mainmenu div ul {
	display: none;
	position: absolute;
	background: #000000;
	color: #ffffff;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #444444;
	list-style-type: none;
}

.mainmenu ul li:hover > ul,
.mainmenu div:hover > ul {
	display: block;
}

.mainmenu ul li > ul {
	left: 100%;
	margin-top: -1.8em;
	border-width: 1px;
}

.modemenu a,
.mainmenu a {
	display: block;
	padding: 0.5em;
	color: #ffffff;
	text-decoration: none;
	font-size: 80%;
}

.mainmenu .active a,
.modemenu .active a {
	color: #ffff00;
	font-weight: bold;
}

.mainmenu li:hover > span > a,
.mainmenu div:hover > a {
	font-weight: bold;
}

.modemenu a:hover,
.modemenu a:focus,
.mainmenu a:hover,
.mainmenu a:focus {
	color: #ffff00;
	font-weight: bold;
}

.mainmenu div.preactive > a {
	color: #ffff00;
	font-weight: bold;
}

.modemenu ul {
	width: auto;
	background: #000000;
	color: #ffffff;
	list-style-type: none;
}

.modemenu li {
	float: right;
}

#maincontent {
	clear: both;
	width: 80%;
	margin: 0 auto;
	padding: 0.5em;
	background: #f5f5f5;
	color: #000000;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #444444;
	font-size: 80%;
}

#maincontent h2 {
	margin: 0.25em 0 0.5em 0;
	font-size: 150%;
	font-weight: normal;
}

#maincontent h3 {
	margin: 0.5em 0;
	font-size: 120%;
	font-weight: normal;
	text-decoration: underline;
}

#maincontent p {
	margin-bottom: 1em;
}

.cbi-section {
	margin-bottom: 0.5em;
	padding: 0.5em 1em;
	border: 1px dotted #555555;
	background-color: #ffffff;
}

.cbi-section legend {
	font-size: 110%;
	font-weight: bold;
	height: 1em;
	padding: 0 0.25em;
	color: #555555;
}

.cbi-section h2 {
	margin: 0em 0 0.5em -0.5em !important;
}

.cbi-section h3 {
	height:	1.5em;
	font-size: 90%;
	color: #555555;
}

.cbi-section-descr {
	margin-bottom: 0.5em;
	font-size: 95%;
}

.cbi-title-ref {
	color: inherit;
	text-decoration: none;
	padding-right: 18px;
	background: url('../resources/cbi/link.gif') no-repeat scroll right center;
	background-color: inherit;
}

input[type=submit],
input[type=reset],
input[type=image],
label {
	cursor: pointer;
}


select,
input,
textarea {
	background: #eeeeee;
	color: #000000;
	border-width: 1px;
	border-color: #000000;
}

input[type=image] {
	border: none;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
	background-color: #ffffff;
}

select,
input[type=text],
input[type=password] {
	width: 20em;
}

td select,
td input[type=text],
td input[type=password] {
	width: 99%;
}

input.cbi-input-user {
	background: url('../resources/cbi/user.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
}

input.cbi-input-password {
	background: url('../resources/cbi/key.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
}

input.cbi-input-find {
	background: url('../resources/cbi/find.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
}

input.cbi-input-reload {
	background: url('../resources/cbi/reload.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
}

input.cbi-input-add,
input.cbi-button-add {
	background: url('../resources/cbi/add.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-fieldadd,
input.cbi-button-fieldadd {
	background: url(../resources/cbi/fieldadd.gif) no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-reset,
input.cbi-button-reset {
	background: url('../resources/cbi/reset.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-save,
input.cbi-button-save {
	background: url('../resources/cbi/save.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-apply,
input.cbi-button-apply {
	background: url('../resources/cbi/apply.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-remove,
div.cbi-section-remove input {
	background: url('../resources/cbi/remove.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
	padding-right: 1px;
}

div.cbi-section-remove input {
	border-bottom: none;
}

textarea {
	margin-left: -1px;
	margin-bottom: 0.5em;
}

form > div > input[type=submit],
form > div > input[type=reset] {
	float: right;
	margin-left: 0.5em;
}

table.smalltext {
	background: #f5f5f5;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	font-size: 90%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table.smalltext tr:hover td {
	background-color: #bbddee;
}

table.smalltext tr th {
	padding: 0 0.25em;
	border-left: 1px solid #666666;
	text-align: left;
}

table.smalltext tr td {
	padding: 0 0.25em;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}

.cbi-rowstyle-1 {
	background-color: #eeeeff;
}

.cbi-rowstyle-2 {

}

div.cbi-value {
	clear: left;
	vertical-align: middle;
	padding-left: 0.25em;
	border-bottom: 1px dotted #bbbbbb;
}

div.cbi-value:hover {
	background: #f8f8f8;
}

div.cbi-value:last-child {
	border: none;
}

.cbi-value-title {
	float: left;
	width: 40%;
}

div.cbi-value-field {
	width: 58%;
	margin: 0.25em 0 0.25em 40%;
}

div.cbi-value-description {
	font-size: 90%;
}

div.cbi-value-field > div.cbi-value-description {
	display: none;
}

div.cbi-value:hover div.cbi-value-field > div.cbi-value-description {
	display: block;
}

div.cbi-section-create {
	clear: left;
	white-space: nowrap;
}

div.cbi-map-descr {
	margin-bottom: 1em;
}

div.cbi-optionals {
	margin: 0.5em 0;
	padding: 0 0.25em;
}

div.cbi-section-remove {
	float: right;
}

.cbi-section-node {
	clear: both;
	border: 1px dotted #bbbbbb;
	padding-bottom: 0;
}

.cbi-section-node div.cbi-section-table-row {
	margin: 0.25em;
}

table.cbi-section-table {
	width: 100%;
	font-size: 95%;
}

table.cbi-section-table th,
table.cbi-section-table td {
	text-align: center;
}

tr.cbi-section-table-descr th {
	font-weight: normal;
	font-size: 90%;
}

td.cbi-section-table-optionals {
	text-align: left !important;
	padding-top: 1em;
}

.cbi-value-helpicon img {
	vertical-align: bottom;
}

div.cbi-error {
	font-size: 95%;
	font-weight: bold;
	color: #FF0000;
}

td.cbi-value-error {
	border-color: red !important;
}

.cbi-value-error input,
.cbi-value-error select {
	color: red !important;
	background-color: #FFCCCC;
}

.cbi-section-error {
	color: red;
	font-size: 95%;
	border: 1px dotted red;
	margin: 3px;
	padding: 3px;
}

ul.cbi-apply {
	font-size: 90%;
}

.right {
	text-align: right;
}

.luci {
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: right;
}

.luci a {
	color: #666666;
	text-decoration: none;
	font-size: 70%;
}

.inline {
	display: inline;
}

.error500 {
	white-space: normal;
	border: 1px dotted #FF0000;
	background-color: #FFFFFF;
	padding: 0.5em;
}

#memorybar {
	width:200px;
	height:8px;
	border:1px solid #bbb;
	background-color:red
}

#memfree, #membuffers, #memcached {
	float:right;
	border:1px solid #bbb;
	height:6px;
}

#memfree {
	background-color:green;
}

#membuffers {
	background-color:yellow;
}

#memcached {
	background-color:orange;
}


/* obligatory IE6 Voodoo Code */
* html body {
	padding-left: 50% !important;
}

* html div#header {
	margin-left: -100% !important;
}

* html div.menubar {
	margin-left: -100% !important;
	width: 200% !important;
}

* html div#maincontent {
	margin-left: -80% !important;
	width: 160% !important;
}

* html div.mainmenu div.hover ul,
* html div.mainmenu div li.hover ul,
* html div.mainmenu div li li.hover ul,
* html div.mainmenu div li li li.hover ul,
* html div.mainmenu div li li li li.hover ul {
	display: block !important;
	margin-left: 3em;
}

* html div.mainmenu div.hover ul {
	margin-left: 0;
}

* html div.mainmenu .hover ul ul,
* html div.mainmenu .hover ul ul ul,
* html div.mainmenu .hover ul ul ul ul,
* html div.mainmenu .hover ul ul ul ul ul {
	display: none !important;
}

* html div.mainmenu li {
	height: 1em !important;
	width: 10em !important;
}

* html .mainmenu {
	height: 1.8em;
}

* html div.cbi-value-description {
	margin-left: 40%;
}
