div.cbi-value-field {
	margin-left: 0 !important;
}

.cbi-section legend {
	background-color: #ffffff;
	color: #555555;
}

table.cbi-section-table td .cbi-input-text,
table.cbi-section-table td .cbi-input-select {
	width: 95% !important;
}

.cbi-input-user,
.cbi-input-password {
	text-indent: 0 !important;
	padding-left: 1.5em !important;
	width: 18.5em !important;
}
