<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2018 Jo-Philipp Wich <jo@mein.io>
 Licensed to the public under the Apache License 2.0.
-%>

<div class="cbi-section">
	<h3><%:Network%></h3>

	<div id="upstream_status_table" class="network-status-table">
		<p><em><%:Collecting data...%></em></p>
	</div>

	<div class="table" width="100%">
		<div class="tr"><div class="td left" width="33%"><%:Active Connections%></div><div class="td left"><div id="conns" class="cbi-progressbar" title="-"><div></div></div></div></div>
	</div>
</div>
