<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

		<br class="clear" />
	</div>
</div></div>
</div>

<div class="luci separator black whitetext bold">
	<% local ver = require "luci.version" -%>
	<a href="<%=controller%>/about">Powered by <%= ver.luciname %> (<%= ver.luciversion %>)</a>
</div>
</div><!-- end main --><div align="center" style="padding-top:5px "></div>
<br>
</div><!-- end wrapper -->

</center>
</div>

</body>
</html>
