<style type="text/css">
  .container {	/* container for entire page. fixes bootstrap theme's ridiculously small page width */
	max-width: none;
	margin-left: 30px;
	padding-right: 30px;
	width: auto;
  }
  table td {	/* cells showing the configuration values */
	padding: 0px;
	text-align: center;
	vertical-align: middle;
  }
  table th {	/* column for configuration section name */
	padding: 0px;
	text-align: center;
	vertical-align: middle;
  }
  table tbody th {	/* column for configuration section name */
	padding: 0px;
	vertical-align: middle;
  }
  .cbi-section-node table div {	/* rows */
	padding-top: 5px;
  }
  table.cbi-section-table td.cbi-section-table-cell {	/* sort buttons column */
	text-align: center;
  }
  .cbi-section h3 {
	color: rgb(85, 85, 85);
	font-family: Trebuchet MS,Verdana,sans-serif;
	font-style: italic;
	font-weight: normal;
  }
</style>
