@charset "utf-8";

@media all {

html {
	min-height: 100%;
	height: auto;
}

body {
	color: #ccc;
	background:#e5eef5 url(bg.jpg) repeat-x top left;
	font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
	line-height: 100%;
	padding-bottom: 1.5em;
}

html, body {
	height: 99%;
}

* {
	margin: 0;
	padding: 0;
}

abbr,
acronym {
	font-style: normal;
	font-variant: normal;
}

abbr[title],
acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

a:link abbr[title],
a:visited abbr[title],
a:link acronym[title],
a:visited acronym[title] {
	cursor: pointer;
}

code {
	font-family: monospace;
	white-space: pre;
}

#maincontent ul {
	margin-left: 2em;
}

.warning {
	color: red;
	background-color: white;
	font-weight: bold;
	text-decoration: blink;
}

.clear {
	clear: both;
}

a img {
	border: 0;
}

.skiplink,
.navigation,
.hidden {
	position: absolute;
	left: -1000px;
	top: -1000px;
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: inline;
}

.error {
	color: #f00;
	background-color: white;
}

.errorbox {
	border: 1px solid #F00;
	background-color: #FCC;
	padding: 5px;
}


.ifacebox {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin: 0 10px;
	text-align: center;
	white-space: nowrap;
}

.ifacebox .ifacebox-head {
	border-bottom: 1px solid #CCCCCC;
	padding: 2px;
}

.ifacebox .ifacebox-body {
	padding: 2px;
}


.ifacebadge {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 2px;
	margin-left: 2px;
	display: inline-block;
}

.ifacebadge-active {
	border-color: #000000;
	font-weight: bold;
}


.zonebadge {
	padding: 2px;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
}

.zonebadge em,
.zonebadge strong {
	margin: 3px;
	display: inline-block;
}

.zonebadge input {
	width: 6em;
	height: 1.5em;
}

.zonebadge-empty {
	border: 1px dashed #AAAAAA;
	color: #AAAAAA;
	font-style: italic;
	font-size: smaller;
}


#header {
	height: auto;
	background: #FFF url(header.jpg) repeat-x left bottom;
	color: #ccc;
	font-weight: bold;
	text-align:right;
}

.header_left img {
	padding: 10px 10px 0px 10px;
	margin-bottom: 10px;
}

.header_banner {
	overflow:hidden;
	padding-bottom: 6px;
	text-align:left;
}

.header_banner img{
	padding: 0px;
}

.header_left{
	text-align:left;
	max-width: 50%;
	float:left;
}

.header_left a{
	color: #dc0067;
	font: bold 36px Helvetica;
	text-decoration: none;
}

#header h1,
.header_right {
	max-width: 45%;
	text-align: right;
	font-size: 70%;
	font-weight: normal;
	line-height: 160%;
	float:right;
	padding: 10px 10px 0 0;
}

ul.dropdowns {
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
	list-style: none;
}

html>body ul.dropdowns {
	position: relative;
}

ul.dropdowns li,
ul.dropdowns ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.dropdowns li {
	float: left;
	position: relative;
	white-space: nowrap;
}

ul.dropdowns li ul {
	position: absolute;
	z-index: 1000;
	top: auto;
	min-width: 10em;
}

ul.dropdowns li li {
	float: none;
	position: relative;
}

ul.dropdowns li a {
	display: block;
}

ul.dropdowns ul li ul {
	top: 0;
}

ul.dropdowns li ul,
ul.dropdowns li.over ul ul,
ul.dropdowns li.focus ul ul,
ul.dropdowns li:hover ul ul,
ul.dropdowns li.over ul ul ul,
ul.dropdowns li.focus ul ul ul,
ul.dropdowns li:hover ul ul ul,
ul.dropdowns li.over ul ul ul ul,
ul.dropdowns li.focus ul ul ul ul,
ul.dropdowns li:hover ul ul ul ul {
	left: -3000px;
}

ul.dropdowns li.over ul,
ul.dropdowns li.focus ul,
ul.dropdowns li:hover ul {
	left: 0;
}

ul.dropdowns ul li.over ul,
ul.dropdowns ul li.focus ul,
ul.dropdowns ul li:hover ul,
ul.dropdowns ul ul li.over ul,
ul.dropdowns ul ul li.focus ul,
ul.dropdowns ul ul li:hover ul,
ul.dropdowns ul ul ul li.over ul,
ul.dropdowns ul ul ul li.focus ul,
ul.dropdowns ul ul ul li:hover ul {
	left: 100%;
}

#xhr_poll_status {
	cursor: pointer;
}

#xhr_poll_status #xhr_poll_status_off {
	font-weight: bold;
	color: #FF0000;
}

#xhr_poll_status #xhr_poll_status_on {
	font-weight: bold;
	color: #00FF00;
}

#menubar {
	position: relative;
	width: 100%;
	background: #FFF;
	color: #004a9c;
	border-bottom: 1px dotted #5A5A5A;
}
#menubar .warning {
	color: red;
	background-color: #FFF;
}

#menubar ul.dropdowns {
	min-height: 1.8em;
	background: #FFF;
	color: #004a9c;
}

#menubar ul.dropdowns li ul {
	background: #FFF;
	color: #004a9c;
	border-width: 0 1px 1px 1px;
	border-style: dotted;
	border-color: #5a5a5a;
}

#menubar ul.dropdowns ul li ul {
	border-width: 1px;
}

html #menubar a:link,
html #menubar a:visited {
	position: relative;
	display: block;
	padding: 0.5em;
	background: #FFF;
	color: #004a9c;
	text-decoration: none;
	font-size: 80%;
	font-weight: normal;
}

html #menubar a:link:hover,
html #menubar a:visited:hover,
html #menubar a:link:active,
html #menubar a:visited:active,
#menubar a:link:focus,
#menubar a:visited:focus {
	background: #F2F2F2;
	color: #e60076;
}

html #menubar a:link.active,
html #menubar a:visited.active,
html #menubar a:link.preactive,
html #menubar a:visited.preactive {
	background: #FFF;
	color: #e60076;
}

html #menubar a:link.warning,
html #menubar a:visited.warning {
	background: #FFF;
	color: red;
	font-weight: bold;
	text-decoration: blink;
}

#menubar ul.dropdowns li.over>a,
#menubar ul.dropdowns li.focus>a,
#menubar ul.dropdowns li:hover>a {
}

.lang_de #submenu_mini_system { min-width: 13.3em; }
* html .lang_de #submenu_mini_system { width: 13.3em; }

.lang_pt-br #submenu_mini_network { min-width: 14em; }
* html .lang_pt-br #submenu_mini_network { width: 14em; }

.lang_pt-br #submenu_mini_system { min-width: 11.5em; }
* html .lang_pt-br #submenu_mini_system { width: 11.5em; }

.lang_ru #submenu_mini_system { min-width: 18em; }
* html .lang_ru #submenu_mini_system { width: 18em; }

.lang_pt-br #submenu_admin_index { min-width: 11em; }
* html .lang_pt-br #submenu_admin_index { width: 11em; }

.lang_ru #submenu_admin_index { min-width: 15.5em; }
* html .lang_ru #submenu_admin_index { width: 15.5em; }

.lang_ru #submenu_admin_status { min-width: 10.5em; }
* html .lang_ru #submenu_admin_status { width: 10.5em; }

.lang_de #submenu_admin_system { min-width: 13.3em; }
* html .lang_de #submenu_admin_system { width: 13.3em; }

.lang_fr #submenu_admin_system { min-width: 14.5em; }
* html .lang_fr #submenu_admin_system { width: 14.5em; }

.lang_pt-br #submenu_admin_system { min-width: 11.5em; }
* html .lang_pt-br #submenu_admin_system { width: 11.5em; }

.lang_ru #submenu_admin_system { min-width: 18em; }
* html .lang_ru #submenu_admin_system { width: 18em; }

#submenu_admin_services_chillispot { min-width: 15.5em; }
* html #submenu_admin_services_chillispot { width: 15.5em; }

#submenu_admin_services_coovachilli { min-width: 15em; }
* html #submenu_admin_services_coovachilli { width: 15em; }

.lang_ru #submenu_admin_network_routes { min-width: 15.3em; }
* html .lang_ru #submenu_admin_network_routes { width: 15.3em; }

#submenu_admin_network_firewall { min-width: 14em; }
* html #submenu_admin_network_firewall { width: 14em; }

.lang_de #submenu_admin_network_firewall { min-width: 16.5em; }
* html .lang_de #submenu_admin_network_firewall { width: 16.5em; }

.lang_pt-br #submenu_admin_network_firewall { min-width: 15em; }
* html .lang_pt-br #submenu_admin_network_firewall { width: 15em; }

#modemenu {
/*	width: auto;*/
	background: #000;
	color: #fff;
	list-style: none;
	margin-right: 1px;
}

#modemenu li {
	float: right;
	list-style: none;
}

#savemenu {
	float: right;
	margin-right: 2em;
}

.lang_de #submenu_admin_uci {
	width: 12em;
}

.lang_ru #submenu_admin_uci {
	width: 11.5em;
}

textarea#syslog {
	width: 98%;
	min-height: 500px;
	border: 3px solid #ccc;
	padding: 5px;
	font-family: monospace;
}


#maincontent {
	clear: both;
	width: 90%;
	margin: 0 auto;
	padding: 0.5em;
	color: #000;
	font-size: 80%;
}

#maincontent h2 {
	font:normal bold 150% "Trebuchet MS", Verdana, sans-serif;
	margin: 0.25em 0 0.7em 0;
	border-bottom: 1px solid;
	padding: 10px 0 4px 0;
	color: #404040;
}

#maincontent h3 {
	margin: 0.5em 0 1.1em 0;
	font:italic bold 125% "Trebuchet MS", Verdana, sans-serif;
	color: #404040;
}

#maincontent p {
	margin-bottom: 1em;
}

.cbi-section {
	margin-bottom: 0.5em;
	padding: 0.5em 1em;
	border: 1px dotted #555;
	background-color: #fff;
	color: #000;
}

.cbi-section legend {
	font-size: 110%;
	font-weight: bold;
	height: 1em;
	padding: 0.5em 0.25em;
	background-color: transparent;
	color: #404040 ;
}

.cbi-section h2 {
	margin: 0em 0 0.5em -0.5em !important;
}

.cbi-section h3 {
	text-decoration: none !important;
	font-weight: bold !important;
	color: #555 !important;
	margin: 0.25em !important;
	font-size: 100% !important;
}

.cbi-section-descr {
	margin-bottom: 0.5em;
	font-size: 95%;
}

.cbi-title-ref {
	color: inherit;
	text-decoration: none;
	padding-right: 18px;
	background: url('../resources/cbi/link.gif') no-repeat scroll right center;
	background-color: inherit;
}

ul.cbi-apply {
	font-size: 90%;
}

ul.cbi-tabmenu {
	padding: 3px 0;
	margin-left: 0 !important;
	margin-bottom: -1px;
	list-style-type: none;
}

ul.cbi-tabmenu li.cbi-tab,
ul.cbi-tabmenu li.cbi-tab-disabled {
	display: inline;
	margin: 0;
}

ul.cbi-tabmenu li.cbi-tab a,
ul.cbi-tabmenu li.cbi-tab-disabled a {
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 3px;
	border: 1px dotted #bbb;
	border-bottom: none;
	background-color: #eee;
	color: #bbb;
}

ul.cbi-tabmenu li.cbi-tab-highlighted a {
	color: #000;
	background-color: #FFEEAA;
}

ul.cbi-tabmenu li a:hover {
	color: #000;
}

ul.cbi-tabmenu li.cbi-tab a {
	position: relative;
	top: 1px;
	padding-top: 4px;
	color: #000;
	background-color: #fff;
}

div.cbi-tab-descr {
	background-image: url(/luci-static/resources/cbi/help.gif);
	background-position: 0.25em 50%;
	background-repeat: no-repeat;
	border-bottom: 1px solid #ccc;
	margin: 0.25em 0.25em 2em;
	padding: 0.5em 0.5em 0.5em 2em;
}

input[type=submit],
input[type=reset],
input[type=image],
input[type=button] {
	cursor: pointer;
}

select,
input,
textarea {
	background: #fff;
	color: #000;
	border: 1px solid #cccccc;
}

input[type=image] {
	border: none;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
	background-color: #fff;
	color: #000;
}

select,
input[type=text],
input[type=password] {
	width: 20em;
}

td select,
td input[type=text],
td input[type=password] {
	width: 99%;
}

img.cbi-image-button {
	cursor: pointer;
	margin: 0 2px;
	vertical-align: middle;
}

input.cbi-input-user {
	background: url('../resources/cbi/user.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	text-indent: 17px;
}

input.cbi-input-password {
	background: url('../resources/cbi/key.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	text-indent: 17px;
}

input.cbi-input-find,
input.cbi-button-find {
	background: url('../resources/cbi/find.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	padding-left: 17px;
	border: none;
}

input.cbi-input-reload {
	background: url('../resources/cbi/reload.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	padding-left: 17px;
}

input.cbi-button{
	margin-top: 1.3em;
}

input.cbi-input-add,
input.cbi-button-add {
	background: url('../resources/cbi/add.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	padding: 0 1px 0 17px;
	border: 1px solid #FFF;
}

input.cbi-input-fieldadd,
input.cbi-button-fieldadd {
	background: url(../resources/cbi/fieldadd.gif) no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	padding: 0 1px 0 17px;
}

input.cbi-input-reset,
input.cbi-button-reset {
	background: url('../resources/cbi/reset.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	padding: 0 1px 0 17px;
}


}

input.cbi-input-save,
input.cbi-button-save {
	background: url('../resources/cbi/save.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	padding: 0 1px 0 17px;
}

input.cbi-input-apply,
input.cbi-button-apply {
	background: url('../resources/cbi/apply.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	padding: 0 1px 0 17px;
}

input.cbi-input-link,
input.cbi-button-link {
	background: url('../resources/cbi/link.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	padding: 0 1px 0 17px;
	border: none;
}

input.cbi-input-download,
input.cbi-button-download {
	background: url('../resources/cbi/download.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	padding: 0 1px 0 17px;
	border: none;
}

input.cbi-input-remove,
div.cbi-section-remove input {
	background: url('../resources/cbi/remove.gif') no-repeat scroll 1px center;
	background-color: inherit;
	color: #000;
	padding: 0 1px 0 17px;
	border: 1px solid #fff;
}

input.cbi-button-up {
	background-image: url('../resources/cbi/up.gif');
	padding: 0 1px 0 11px;
}

input.cbi-button-down {
	background-image: url('../resources/cbi/down.gif');
	padding: 0 1px 0 11px;
}

input.cbi-button-edit {
	background: url('../resources/cbi/edit.gif') no-repeat scroll 1px center;
	color: #000000;
	padding: 0 1px 0 17px;
}

input.cbi-button-reload {
	background: url('../resources/cbi/reload.gif') no-repeat scroll 1px center;
	color: #000000;
	padding: 0 1px 0 17px;
}

input.cbi-button-remove {
	background: url('../resources/cbi/remove.gif') no-repeat scroll 1px center;
	color: #000000;
	padding: 0 1px 0 17px;
}

.cbi-input-invalid {
	background-image: url('../resources/cbi/reset.gif');
	background-repeat: no-repeat;
	background-position: right;
	color: #FF0000 !important;
	border-color: #FF0000;
}

div.cbi-section-remove input {
	border-bottom: none;
}

textarea {
	margin-left: -1px;
	margin-bottom: 0.5em;
}

form > div > input[type=submit],
form > div > input[type=reset] {
	float: right;
	margin-left: 0.5em;
}

table td,
table th {
	color: #000;
}

table.smalltext {
	background: #f5f5f5;
	color: #000;
	border: 1px solid #666;
	font-size: 90%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table.smalltext tr:hover td {
	background-color: #bbddee;
	color: #000;
}

table.smalltext tr th {
	padding: 0 0.25em;
	border-left: 1px dotted #666;
	text-align: left;
}

table.smalltext tr td {
	padding: 0.2em;
	border-top: 1px dotted #666;
	border-left: 1px dotted #666;
}

table.cbi-section-table .cbi-rowstyle-1 {
	background-color: #f1f6fa;
	color: #000;
}

table.cbi-section-table .cbi-rowstyle-1:hover,
table.cbi-section-table .cbi-rowstyle-2:hover {
	background-color: #b2c8d4;
	color: #000000;
}

table.cbi-section-table .cbi-section-table-cell {
	padding: 3px;
	white-space: nowrap;
}

.cbi-section .cbi-rowstyle-1 h3 {
	background-color: #f1f6fa;
	color: #555;
}

.cbi-rowstyle-2 {
	color: #000;
}

div.cbi-value {
	clear: left;
	vertical-align: middle;
	padding-left: 0.25em;
	border-bottom: 1px dotted #bbb;
}

div.cbi-value:hover {
	background: #f8f8f8;
	color: #000;
}

.cbi-value-title {
	float: left;
	width: 40%;
	line-height: 1.8em;
}

div.cbi-value-field {
	width: 58%;
	margin-left: 40%;
	padding: 0.25em 0;
}

div.cbi-value-description {
	font-size: 90%;
	display: inline;
}

div.cbi-section-create {
	clear: left;
	white-space: nowrap;
	vertical-align: top;
}

div.cbi-tblsection-create {
	border-bottom: 1px dotted #bbb;
}

div.cbi-section-create .cbi-button {
	margin: 0.25em;
}

input.cbi-section-create-name {
	margin-right: -0.25em;
	border: 1px solid #999;
}

div.cbi-map-descr {
	margin-bottom: 1em;
}

div.cbi-optionals {
	padding: 0.25em;
	border-bottom: 1px dotted #bbb;
}

div.cbi-section-remove {
	float: right;
}

.cbi-section-node {
	clear: both;
	border: 1px dotted #bbb;
	border-bottom: none;
	padding-bottom: 0;
}

.cbi-section-node table div {
	padding-bottom: 0;
	border-bottom: none;
}

.cbi-section-node div.cbi-section-table-row {
	margin: 0.25em;
}

table.cbi-section-table {
	width: 100%;
	font-size: 95%;
}

table.cbi-section-table th,
table.cbi-section-table td {
	text-align: center;
}

tr.cbi-section-table-descr th {
	font-weight: bold;
	font-size: 90%;
}

td.cbi-section-table-optionals {
	text-align: left !important;
	padding-top: 1em;
}

.cbi-value-helpicon img {
	vertical-align: bottom;
}

div.cbi-error {
	font-size: 95%;
	font-weight: bold;
	color: #f00;
	background-color: #fff;
}

td.cbi-value-error {
	border-color: red;
}

.cbi-value-error input,
.cbi-value-error select {
	color: red;
	background-color: #fcc;
}

.cbi-section-error {
	color: red;
	background-color: white;
	font-size: 95%;
	border: 1px dotted red;
	margin: 3px;
	padding: 3px;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.footer, .push {
	height: 2em;
}

.footer {
	width: 99%;
	padding: 0.3em;
}


.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}

.luci a:link,
.luci a:visited,
.exectime {
	color: #666;
	text-decoration: none;
	font-size: 70%;
}

.inline {
	display: inline;
}

.error500 {
	white-space: normal;
	border: 1px dotted #f00;
	background-color: #fff;
	color: #000;
	padding: 0.5em;
}

.uci-change-list {
        font-family: monospace;
}

.uci-change-list ins,
.uci-change-legend-label ins {
        text-decoration: none;
        border: 1px solid #00FF00;
        background-color: #CCFFCC;
        display: block;
        padding: 2px;
}

.uci-change-list del,
.uci-change-legend-label del {
        text-decoration: none;
        border: 1px solid #FF0000;
        background-color: #FFCCCC;
        display: block;
        font-style: normal;
        padding: 2px;
}

.uci-change-list var,
.uci-change-legend-label var {
        text-decoration: none;
        border: 1px solid #CCCCCC;
        background-color: #EEEEEE;
        display: block;
        font-style: normal;
        padding: 2px;
}

.uci-change-list var ins,
.uci-change-list var del {
        /*display: inline;*/
        border: none;
        white-space: pre;
        font-style: normal;
        padding: 0px;
}

.uci-change-legend {
        padding: 5px;
}

.uci-change-legend-label {
        width: 150px;
        float: left;
        font-size: 80%;
}

.uci-change-legend-label>ins,
.uci-change-legend-label>del,
.uci-change-legend-label>var {
        float: left;
        margin-right: 4px;
        width: 10px;
        height: 10px;
        display: block;
}

.uci-change-legend-label var ins,
.uci-change-legend-label var del {
        line-height: 6px;
        border: none;
}

}
