.high_res_only{
	display:none !important;
}

#main_bg_pattern {
	position:absolute;
	background: url(images/PF_background_pattern.png) repeat-x;
	top:0px;
	left:0px;
	width:980px;
	z-index:0;		
}

#main_bg {
    min-height:2000px;
}

#heading{
	margin-left:285px !important;
}

#header{
	padding-left:0px !important;
	padding-bottom:24px;
}

#menubar{
    font-size:35px;
}


		#maincontent .multiColumn {
			margin:1em 0px;
			width:100%;
		}

		#maincontent .multiColumn .first{
			width:100% !important;
			float:none !important;
			display:block !important;
			padding-right:0px;
		}

		#maincontent .multiColumn .second{
			width:100% !important;
			float:none !important;
			display:block !important;
			padding-right:0px;
		}
		#maincontent .multiColumn .terminateMultiColumn{
			clear:both;
			float:none;
			display:block;
			text-align:left !important;
			padding-top:2em;
		}

		#maincontent ul{
			margin-bottom:1em;
		}





#sidebar_container{
	display:none;
}

#adbar_low_res_container{
	display:block !important;
}
#main_content_container{
	margin-top:50px !important;
}

.lt_spec{
	padding:0px;
	width:54px;
	height:42px;
	background:transparent url(images/lt_round.png) no-repeat 0% 0% !important;
}

#content {
	margin-left:0px !important; 
}

#maincontent{
	font-size:35px!important;
	line-height:40px;
}

input[type=submit],
.cbi-button,
.cbi-button-reset,
.cbi-button-save{
	display:inline !important;
	float:none !important;
	padding:10px 30px !important;
	margin: 0px 10px !important;
	font-size:45px !important;
	font-family: impact, sans-serif !important;
	background:#ff8800 none !important;
	border-color:#000000 !important;
}

.cbi-input-text,
.cbi-input-select,
.cbi-input-user,
.cbi-input-password{
	display:block !important;
	font-size:35px  !important;
	margin: 0 !important;
	padding:0 !important;
}

.cbi-value-field{
	font-size:35px;
	margin:0 !important;
	margin-bottom: 1em !important;
	width:100%  !important;	
}

.cbi-section legend{
	white-space:normal !important;
}
.cbi-section code{
	font-size:24px;
}

.cbi-value-title{
	font-size:35px;
	font-weight:bold;
	float:none !important;
}
