<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2018 Jo-Philipp Wich <jo@mein.io>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<%-
	local node, redir_url = luci.dispatcher.lookup(luci.http.formvalue("redir"))

	include("cbi/apply_widget")
	include("admin_uci/changelog")

	cbi_apply_widget(redir_url or url("admin/uci/revert"))
-%>

<h2 name="content"><%:Configuration%> / <%:Revert%></h2>

<% if changes then %>
	<p><strong><%:The following changes have been reverted%>:</strong></p>
	<%- uci_changelog(changes) -%>
<% else %>
	<p><strong><%:There are no pending changes to revert!%></strong></p>
<% end %>

<div class="alert-message" id="cbi_apply_status" style="display:none"></div>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
		uci_apply(true);
	});
</script>

<% if redir_url then %>
	<div class="cbi-page-actions">
		<form class="inline" method="get" action="<%=luci.util.pcdata(redir_url)%>">
			<input class="cbi-button cbi-button-link" style="margin:0" type="submit" value="<%:Back%>" />
		</form>
	</div>
<% end %>

<%+footer%>
