<%
require("ffluci.sys")
local load1, load5, load15 = ffluci.sys.loadavg()
local req  = require("ffluci.dispatcher").request
local menu = require("ffluci.menu").get()[req.category]
menu = menu or {}
require("ffluci.i18n").loadc("default")
require("ffluci.http").set_content_type("text/html")
%><?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="<%=media%>/cascade.css" />
	<link rel="stylesheet" type="text/css" href="<%=media%>/css/<%=req.category%>_<%=req.module%>.css" />
	<meta http-equiv="content-type" content="text/xhtml+xml; charset=utf-8" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<title>FFLuCI</title>
</head>
<body>
<div id="header">
	<div class="headerlogo left"><img src="<%=media%>/logo.png" alt="Freifunk" /></div>
	<div class="whitetext smalltext right">
	OpenWRT Kamikaze<br />
	Freifunk Firmware 2.0-dev<br />
	<%:load Last%>: <%=load1%> <%=load5%> <%=load15%><br />
	<%:hostname Hostname%>: <%=ffluci.sys.hostname()%> 
	</div>
	<div>
		<span class="headertitle">Freifunk Kamikaze</span><br />
		<span class="whitetext bold"><%:batmanedition Fledermausedition%></span>
	</div>
</div>

<div class="separator yellow bold">
<%:path Pfad%>: <a href="<%=controller .. "/" .. req.category%>"><%=translate(req.category, req.category)%></a>
&#187; <a href="<%=controller .. "/" .. req.category .. "/" .. req.module %>"><%=translate(req.module, req.module)%></a>
&#187; <a href="<%=controller .. "/" .. req.category .. "/" .. req.module .. "/" .. req.action %>"><%=translate(req.action, req.action)%></a>
</div>

<div id="columns"><div id="columnswrapper">
	<div class="sidebar left">
	<% for k,v in pairs(menu) do %>
	    <div<% if v[".contr"] == req.module then %> class="yellowtext"<% end %>><a href="<%=controller.."/"..req.category.."/"..v[".contr"]%>"><%=translate(v[".contr"], v[".descr"])%></a><%
	    if v[".contr"] == req.module then %>
	    	<ul><% for key,val in ipairs(v) do %>
	    		<li<% if val.action == req.action then %> class="yellowtext"<% end %>><a href="<%=controller.."/"..req.category.."/"..req.module.."/"..val.action%>"><%=translate(val.action, val.descr)%></a></li>
	    	<% end %></ul>
	    <% end %></div>
	<% end %>
	</div>
	<div class="sidebar right">
		<div><%:webif Weboberfläche%>
			<ul>
				<li<% if "public" == req.category then %> class="yellowtext"<% end %>><a href="<%=controller%>/public"><%:public Öffentlich%></a></li>
				<li<% if "admin" == req.category then %> class="yellowtext"<% end %>><a href="<%=controller%>/admin"><%:admin Verwaltung%></a></li>
			</ul>
		</div>
		<%
			if "admin" == req.category then
				require("ffluci.model.uci") 
				local ucic = ffluci.model.uci.changes()
				if ucic then
					ucic = #ffluci.util.split(ucic)
				end
		%>
		<div><%:config Konfiguration%>
			<ul>
			<% if ucic then %>
				<li><a href="<%=controller%>/admin/uci/changes"><%:changes Änderungen%>: <%=ucic%></a></li>
				<li><a href="<%=controller%>/admin/uci/apply"><%:apply Anwenden%></a></li>
				<li><a href="<%=controller%>/admin/uci/revert"><%:revert Verwerfen%></a></li>
			<% else %>
				<li><%:changes Änderungen%>: 0</li>
			<% end %>
			</ul>
		</div>
		<% end %>
	</div>
	<div id="content">