

body {
	font-size:16px;
}

ul,li {
	margin:0;
	padding:0;
	list-style: none;
}

svg {
	width: 50px;
}

.label {
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.label-success {
    background-color: #5cb85c;
}

.label-info {
    background-color: #5bc0de;
}


legend{
}

main {
	padding-top:1.5rem;
}

main > section:first-child{

}

main > section:last-child{
	width:100%;
    margin: 0 auto;
}

#navigation {
	margin-bottom:2em;
}

#navigation > nav > ul > li {
	line-height: 28px;
	float:left;
    margin-right: 2em;
}

#navigation > nav > ul > li a {
	color:#000;
}

#navigation > nav > ul > li > a:hover {
	color: #999;
    text-decoration: underline;
}

#dashboard .network-status .router-status-ligne svg{
	width:10px;
}

#dashboard .network-status .wan-status svg{
	width: 70px;
}

#dashboard .network-status .router-status {
	display: flex;
    flex-direction: column;
    flex-flow: unset;
    justify-content: space-around;
}

#dashboard .network-status ul li.text-center:last-child{
	width: 68%;
    margin: 0 auto;
}

#dashboard .network-status .router-status > div {
	flex:5;
}

#dashboard .network-status .settings-info p span:first-child{
	width:35%;
	text-align: right;
}

#dashboard .network-status .router-status-self .router-status-info svg,
#dashboard .network-status .router-status .router-status-ethernet svg,
#dashboard .network-status .router-status .router-status-wifi .wifi-group .wifi-devices .wifi-info svg
{
	width:70px;
}


#dashboard .network-status .bg-style1{
	background-color: #e0e0e0;
    border-radius: 16px;
}

#dashboard .network-status .router-status-self
{
    max-width: 50%;
    margin: auto;
}

#dashboard .network-status .router-status {
	padding-top:1.5em;
}

#dashboard .network-status .router-status-info{
	padding:1.5em;
}

#dashboard .network-status .router-status > div {
	padding:1.5em;
	margin-right:3em;
}

#dashboard .network-status .router-status .devices-list {
	display: flex;
}

#dashboard .network-status .router-status .devices-list li {
	margin-right:1em;
}

#dashboard .network-status .router-status .devices-list li svg {
	width:37px;
}

#dashboard .network-status .router-status .router-status-wifi  {
	 width: 80%;
    flex: none;
}

#dashboard .network-status .router-status .router-status-wifi .devices-list{
    display: block;
}

#dashboard .network-status .router-status .router-status-wifi .devices-list li{
	float:left;
}
#dashboard .network-status .router-status .router-status-wifi .devices-list li .progress
{
    max-width: 50%;
    margin: 0 auto;
}


#dashboard .network-status .router-status .router-status-ethernet {
    margin-right: 0;
    width: 77%;
    padding: 0.9em;
    flex:none;
}

#dashboard .network-status .router-status .router-status-ethernet .devices-list {
	display: block;
	overflow: hidden;
}

#dashboard .network-status .router-status .router-status-ethernet .devices-list li {
    max-width: 51%;
    float: left;
    margin: 0 auto;
    padding: 1em;
}
