@charset "utf-8";

body {
	font-family: Verdana, Arial, sans-serif;
	background-color: #aaaaaa;
}

h1 {
	margin: 0%;
	font-size: 1.4em;
	font-weight: bold;
}

h2 {
	margin: 0%;
	font-size: 1.2em;
	font-weight: bold;
}

#header {
	padding: 0.2em;
	height: 4.5em;
	background-color: #262626;
}

#columns {
	border-left: 10.1em solid #262626;
	border-right: 10.1em solid #262626;
	display: block;
	background-color: white;
	padding: 0.1em;
}

#columnswrapper {
	display: block;
	margin-left: -10em;
	margin-right: -10em;
}

#content {
	margin-left: 14em;
	margin-right: 14em;
	display: block;
	position: relative;
	padding: 2px;
	font-size: 0.8em;
}

.headerlogo {
	height: 4em;
	padding: 5px;
}

.headerlogo img {
	height: 100%;
}

.headertitle {
	font-size: 2.4em;
	color: gray;
	letter-spacing: 0.5em;
	text-transform: lowercase;
}

.separator {
	padding-left: 0.25em;
	font-weight: bold;
	font-size: 0.8em;
	line-height: 1.4em;
}

.whitetext {
	color: white;
}

.yellowtext {
	color: #ffcb05;
}

.magentatext {
	color: #dc0065;
}

.inheritcolor {
	color: inherit;
}

.smalltext {
	font-size: 0.8em;
}

.yellow {
	background-color: #ffcb05;
}

.magenta {
	background-color: #dc0065;
}

.nodeco {
	text-decoration: none;
}

.redhover:hover {
	color: red;
}

.bold {
	font-weight: bold;
}

.sidebar {
	position: relative;
	padding: 0.25em;
	color: gray;
	width: 9em;
	font-weight: bold;
}

.separator a, .sidebar a {
	color: inherit;
	text-decoration: inherit;
}

.separator a:hover, .sidebar a:hover {
	color: red;
}

.sidebar div {
	padding-bottom: 0.5em;
}

.sidebar ul {
	font-size: 0.8em;
	color: white;
	list-style-type: none;
	padding-left: 1em;
	margin-top: 0%;
}

.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}

.clear {
	clear: both;
}
