* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #4a6b7c;
	background-image: url(bg.jpg);
	background-position: bottom center;
	background-attachment: fixed;
	background-repeat: repeat-x;
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
	line-height: 100%;
}

code {
	font-family: monospace;
	white-space: pre;
}

div#content ul {
	margin-left: 2em;
}

.clear {
	clear: both;
	height: 1px;
}

.hidden {
	display: none;
}

.error {
	color: #ff0000;
}

#header {
	min-height: 98px;
	background-image: url(header.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #557788;
	text-align: right;
}

#header .info {
	padding: 1em 1em;
	font-size: 70%;
	line-height: 160%;
}

#header .title {
	display: none;
}

.pathbar {
	display: none;
}

.menubar {
	width: 100%;
	min-height: 1.8em;
	background: #000000;
	color: #ffffff;
}

.mainmenu {
	float: left;
	width: auto;
	min-height: 1.8em;
	background: #000000;
	color: #ffffff;
}

.mainmenu div {
	float: left;
}

.mainmenu li {
	white-space: nowrap;
}

.mainmenu div ul {
	display: none;
	position: absolute;
	background: #000000;
	color: #ffffff;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #444444;
	list-style-type: none;
}

.mainmenu ul li:hover > ul,
.mainmenu div:hover > ul {
	display: block;
}

.mainmenu ul li > ul {
	left: 100%;
	margin-top: -1.8em;
	border-width: 1px;
}

.modemenu a,
.mainmenu a {
	display: block;
	padding: 0.5em;
	color: #ffffff;
	text-decoration: none;
	font-size: 80%;
}

.mainmenu .active a,
.modemenu .active a {
	color: #ffff00;
	font-weight: bold;
}

.mainmenu li:hover > span > a,
.mainmenu div:hover > a {
	font-weight: bold;
}

.modemenu a:hover,
.modemenu a:focus,
.mainmenu a:hover,
.mainmenu a:focus {
	color: #ffff00;
	font-weight: bold;
}

.mainmenu div.preactive > a {
	color: #ffff00;
	font-weight: bold;
}

.modemenu ul {
	width: auto;
	background: #000000;
	color: #ffffff;
	list-style-type: none;
}

.modemenu li {
	float: right;
}

#content {
	clear: both;
	width: 80%;
	margin: 0 auto;
	padding: 0.5em;
	background: #f5f5f5;
	color: #000000;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #444444;
	font-size: 80%;
}

#content h1 {
	margin: 0.25em 0 0.5em 0;
	font-size: 150%;
	font-weight: normal;
}

#content h2 {
	margin: 0.5em 0;
	font-size: 120%;
	font-weight: normal;
	text-decoration: underline;
}

#content p {
	margin-bottom: 1em;
}

.cbi-section {
	margin-bottom: 0.5em;
	padding: 0.5em 1em;
	border: 1px dotted #555555;
	background-color: #ffffff;
}

.cbi-section h2 {
	margin: 0em 0 0.5em -0.5em !important;
}

.cbi-section h3 {
	height:	1em;
	font-size: 120%;
}

.cbi-section-descr {
	margin-bottom: 0.5em;
}

input[type=submit],
input[type=reset],
label {
	cursor: pointer;
}

select,
input,
textarea {
	background: #eeeeee;
	color: #000000;
	border: 1px solid #000000;
}

input:focus,
textarea:focus {
	background: #ffffff;
}

select,
input[type=text],
input[type=password] {
	width: 20em;
}

td select,
td input[type=text],
td input[type=password] {
	width: 99%;
}

textarea {
	margin-left: -1px;
	margin-bottom: 0.5em;
}

form > div > input[type=submit],
form > div > input[type=reset] {
	float: right;
	margin-left: 0.5em;
}

table.smalltext {
	background: #f5f5f5;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	font-size: 90%;
}

table.smalltext tr th {
	padding: 0 0.25em;
	border-left: 1px solid #666666;
}

table.smalltext tr td {
	padding: 0 0.25em;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}

div.cbi-value {
	clear: left;
	padding: 0.25em;
	border-bottom: 1px dotted #bbbbbb;
}

div.cbi-value:hover {
	background: #f8f8f8;
}

div.cbi-value:last-child {
	border: none;
}

.cbi-value-title {
	float: left;
	width: 40%;
	margin: 0.25em 0;
}

div.cbi-value-field {
	width: 58%;
	margin: 0.25em 0 0.25em 40%;
}

div.cbi-value-description {
	width: 58%;
	font-size: 90%;
}

div.cbi-section-create {
	clear: left;
}

div.cbi-map-descr {
	margin-bottom: 1em;
}

div.cbi-optionals {
	margin: 0.5em 0;
	padding: 0 0.25em;
}

div.cbi-section-remove {
	float: right;
}

div.cbi-section-remove input {
	border-color: #bbbbbb;
	border-bottom: none;
}

div.cbi-section-node {
	clear: both;
	border: 1px dotted #bbbbbb;
	padding-bottom: 0;
}

table.cbi-section-table {
	width: 100%;
	font-size: 95%;
}

table.cbi-section-table th,
table.cbi-section-table td {
	text-align: center;
}

tr.cbi-section-table-descr th {
	font-weight: normal;
	font-size: 90%;
}

td.cbi-section-table-optionals {
	text-align: left !important;
	padding-top: 1em;
}

.right {
	text-align: right;
}

.luci {
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: right;
}

.luci a {
	color: #666666;
	text-decoration: none;
	font-size: 70%;
}


/* obligatory IE6 Voodoo Code */
* html body {
	padding-left: 50% !important;
}

* html div#header {
	margin-left: -100% !important;
}

* html div.menubar {
	margin-left: -100% !important;
	width: 200% !important;
}

* html div#content {
	margin-left: -80% !important;
	width: 160% !important;
}

* html div.mainmenu div.hover ul,
* html div.mainmenu div li.hover ul,
* html div.mainmenu div li li.hover ul,
* html div.mainmenu div li li li.hover ul,
* html div.mainmenu div li li li li.hover ul {
	display: block !important;
	margin-left: 3em;
}

* html div.mainmenu div.hover ul {
	margin-left: 0;
}

* html div.mainmenu .hover ul ul,
* html div.mainmenu .hover ul ul ul,
* html div.mainmenu .hover ul ul ul ul,
* html div.mainmenu .hover ul ul ul ul ul {
	display: none !important;
}

* html div.mainmenu li {
	height: 1em !important;
	width: 10em !important;
}

* html .mainmenu {
	height: 1.8em;
}

* html div.cbi-value-description {
	margin-left: 40%;
}
