#header{
	padding-left:0px !important;
	padding-bottom:24px;
}

.header_left{
	max-width: 100%;
}

#mainlogo {
	max-width: 90%;
}

#content {
	margin-left:0px !important; 
}

#maincontent{
	font-size:1.2em;
	line-height:1.5em;
}

input[type=submit],
.cbi-button,
.cbi-button-reset,
.cbi-button-save{
	display:inline !important;
	float:none !important;
	padding:10px 30px !important;
	margin: 10px 10px 10px 0 !important;
}

.cbi-input-text,
.cbi-input-select,
.cbi-input-user,
.cbi-input-password{
	display:block !important;
	margin: 0 !important;
	padding:0 !important;
}

.cbi-value-field{
	margin:0 !important;
	margin-bottom: 1em !important;
	width:100%  !important;	
}

.cbi-section legend{
	white-space:normal !important;
}

.cbi-value-title{
	font-weight:bold;
	float:none !important;
}

img {
	max-width:100%;
}
