<%+header%>
<h1><%:status Status%></h1>
<h2><%:system System%></h2>

<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:system_type Systemtyp%>:</th>
<td><%=s%></td>
</tr>
<tr>
<th><%:cpu Prozessor%>:</th>
<td><%=m%></td>
</tr>
<tr>
<th><%:ram Hauptspeicher%>:</th>
<td><%=r%></td>
</tr>
</table>
<br /><br />

<h2><%:wifi Drahtlos%></h2>
<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:name Name%></th>
<th><%:protocol Protokoll%></th>
<th><%:frequency Frequenz%></th>
<th><%:power Leistung%></th>
<th><%:bitrate Bitrate%></th>
<th><%:rts RTS%></th>
<th><%:frag Frag.%></th>
<th><%:link Verb.%></th>
<th><%:signal Signal%></th>
<th><%:noise Rausch%></th>
</tr>
<%for k, v in pairs(ffluci.sys.wifi.getiwconfig()) do
%>
<tr>
<td rowspan="2"><%=k%></td>
<td><%=v[1]%></td>
<td><%=v.Frequency%></td>
<td><%=v["Tx-Power"]%></td>
<td><%=v["Bit Rate"]%></td>
<td><%=v["RTS thr"]%></td>
<td><%=v["Fragment thr"]%></td>
<td><%=v["Link Quality"]%></td>
<td><%=v["Signal level"]%></td>
<td><%=v["Noise level"]%></td>
</tr>
<tr>
<td colspan="4"><strong>ESSID: </strong><%=v.ESSID%></td>
<td colspan="5"><strong>BSSID: </strong><%=(v.Cell or v["Access Point"])%></td>
</tr>
<%end%>
</table>
<br />
<br />
<h2><%:defroutes Standardrouten%></h2>
<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:gateway Gateway%></th>
<th><%:metric Metrik%></th>
<th><%:iface Schnittstelle%></th>
</tr>
<%
for i, rt in pairs(routes) do
%>
<tr>
<td><%=ffluci.sys.net.hexip4(rt.Gateway)%></th>
<td><%=rt.Metric%></th>
<td><%=rt.Iface%></th>
</tr>
<% end %>
</table>
<%+footer%>