<%+header%>
<h1><%:about Über%> Luci</h1>
<p><%:lucidesc Luci ist eine freie Lua-Bibliothek mit integriertem MVC-Webframework und Weboberfläche für eingebettete Geräte,
speziell Netzwerkrouter unter OpenWRT. Luci steht unter der Apache-Lizenz.%></p>

<p><strong><%:projecthome Projekt-Homepage%>: </strong><a href="http://luci.freifunk-halle.net">luci.freifunk-halle.net</a></p>

<br />
<h2><%:leaddev Leitende Entwicklung%></h2>
<ul style="font-weight: bold">
	<li><a href="mailto:steven-at-midlink-dot-org">Steven "Cyrus" Barth</a> (OpenWRT, Freifunk Halle)</li>
	<li><a href="mailto:xm-at-leipzig.freifunk-dot-net">Jo-Philipp "Jow" Wich</a> (Freifunk Leipzig)</li>
</ul>
<br />

<h2><%:contributors Mitwirkende Entwickler%></h2>
<ul style="font-weight: bold">
	<li><a href="mailto:nbd-at-openwrt-dot-org">Felix "nbd" Fietkau</a> (OpenWRT)</li>
</ul>
<br />

<h2><%:thanksto Dank an%></h2>
<ul style="font-weight: bold">
	<li><a href="http://www.computerhilfe-halle.de">Mono</a> (Computerhilfe-Halle.de)</li>
	<li><a href="mailto:mickey-at-netfreaks-dot-org">Mickey Knox</a>  (Freifunk Hannover)</li>
</ul>
<%+footer%>