<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%
	local ver = require "luci.version"

	local xtime
	if exectime then
		xtime = (string.format("%.2fs", os.clock() - exectime))
	end
%>

</div>
<div class="clear"></div>
<div class="push"></div>
</div>

<div class="footer">
<p class="luci"><a href="http://luci.subsignal.org">Powered by <%= ver.luciname %> (<%= ver.luciversion %>)</a></p>
<% if xtime then %>
<p class="exectime">Script execution time: <%=xtime%></p>
<% end %>
</div>

</body>
</html>

