<%+header%>
<h1><%:system System%></h1>
<h2><%:sshkeys SSH-Schlüssel%></h2>

<br />

<div><%:sshkeys_descr Hier können öffentliche SSH-Schlüssel (einer pro Zeile)
 zur Authentifizierung abgelegt werden.%></div>

<br />

<form method="post" action="<%=controller%>/admin/system/sshkeys">
	<div class="cbi-section-node">
		<div><textarea style="width: 100%" rows="10" name="data"><%=cnt%></textarea></div>
		<br />
		<div>
			<input type="submit" value="<%:save Speichern%>" />
			<input type="reset" value="<%:reset Zurücksetzen%>" />
		</div>
		<% if msg then %><br /><div class="error"><%:error Fehler%>: <%=msg%></div><% end %>
	</div>
</form>
<%+footer%>