<%+header%>
<h1><%:system System%></h1>
<h2><%:upgrade Upgrade%></h2>
<br />
<% if sysupgrade and not ret then %>
<form method="post" action="<%=controller%>-upload/admin/system/upgrade" enctype="multipart/form-data">
	<fieldset class="cbi-section-node">
		<div class="cbi-value clear">
			<div class="cbi-value-title left"><%:fwimage Firmwareimage%></div>
			<div class="cbi-value-field"><input type="file" size="30" name="image" /></div>
		</div>
		<br />
		<div class="cbi-value clear">
			<input type="checkbox" name="keepcfg" value="1" checked="checked" />
			<span class="bold"><%:keepcfg Konfigurationsdateien übernehmen%></span>
		</div>
		<br />
		<div>
			<input type="submit" value="<%:fwupgrade Firmware aktualisieren%>" />
		</div>
	</fieldset>
</form>
<% elseif ret then %>
	<% if ret == 0 then %>
<div class="ok"><%:flashed Flashvorgang erfolgreich. Router startet neu...%></div>
	<% else %>
<div class="error"><%:flasherr Flashvorgang fehlgeschlagen!%> (<%:code Code%> <%=ret%>)</div>	
	<% end %>
<% else %>
<div class="error"><%:notimplemented Diese Funktion steht leider (noch) nicht zur Verfügung.%></div>
<% end %>
<%+footer%>