<%+header%>

<input type="password" aria-hidden="true" style="position:absolute; left:-10000px" />

<div class="cbi-map">
	<h2><%:Router Password%></h2>

	<div class="cbi-section-descr">
		<%:Changes the administrator password for accessing the device%>
	</div>

	<div class="cbi-section-node">
		<div class="cbi-value">
			<label class="cbi-value-title" for="image"><%:Password%></label>
			<div class="cbi-value-field">
				<input type="password" name="pw1" /><!--
				--><button class="cbi-button cbi-button-neutral" title="<%:Reveal/hide password%>" aria-label="<%:Reveal/hide password%>" onclick="var e = this.previousElementSibling; e.type = (e.type === 'password') ? 'text' : 'password'">∗</button>
			</div>
		</div>

		<div class="cbi-value">
			<label class="cbi-value-title" for="image"><%:Confirmation%></label>
			<div class="cbi-value-field">
				<input type="password" name="pw2" onkeydown="if (event.keyCode === 13) submitPassword(event)" /><!--
				--><button class="cbi-button cbi-button-neutral" title="<%:Reveal/hide password%>" aria-label="<%:Reveal/hide password%>" onclick="var e = this.previousElementSibling; e.type = (e.type === 'password') ? 'text' : 'password'">∗</button>
			</div>
		</div>
	</div>
</div>

<div class="cbi-page-actions">
	<button class="btn cbi-button-apply" onclick="submitPassword(event)"><%:Save%></button>
</div>

<script type="application/javascript" src="<%=resource%>/view/system/password.js"></script>

<%+footer%>
