:root {
	--main-bright-color: #00A3E1;
	--main-dark-color: #002B49;
	--secondary-bright-color: #FFFFFF;
	--secondary-dark-color: #212322;
	--danger-color: #CC1111;
	--warning-color: #CC8800;
	--regular-font: "GalanoGrotesqueW00-Regular";
	--base-font-size: 16px;
}

@font-face {
	font-family: "GalanoGrotesqueW00-Regular";
	src: url("GalanoGrotesqueW00-Regular.woff2") format("woff2");
}
