@charset "utf-8";

@media all {

div.dashicon {
	float: left;
}

div.dashicon a {
	background-image: url(icons/default.png);
	background-repeat: no-repeat;
	background-position: top;
	display: block;
	width: 70px;
	padding-top: 70px;
	color: #000000;	
	text-decoration: none;
	text-align: center;
	margin: 2em;	
	font-weight: bold;
}

div.di_network a {
	background-image: url(icons/network.png);
}

div.di_luci a {
	background-image: url(icons/desktop.png);
}

div.di_index a {
	background-image: url(icons/overview.png);
}

div.di_logout a {
	background-image: url(icons/logout.png);
}

div.di_freifunk a {
	background-image: url(icons/freifunk.png);
}

div.di_status a {
	background-image: url(icons/status.png);
}

div.di_system a {
	background-image: url(icons/system.png);
}

div.di_syslog a {
	background-image: url(icons/shell.png);
}

div.di_ntpc a {
	background-image: url(icons/datetime.png);
}

div.di_leds a {
	background-image: url(icons/lightbulb.png);
}

div.di_reboot a {
	background-image: url(icons/restart.png);
}

div.di_passwd a {
	background-image: url(icons/login.png);
}

div.di_statistics a {
	background-image: url(icons/stats.png);
}

div.di_packages a {
	background-image: url(icons/package.png);
}

div.di_sshkeys a {
	background-image: url(icons/key.png);
}

div.di_upgrade a {
	background-image: url(icons/flash.png);
}

div.di_services a {
	background-image: url(icons/worker.png);
}

div.di_backup a {
	background-image: url(icons/switch.png);
}

div.di_fstab a {
	background-image: url(icons/harddisk.png);
}

}