
[|DEFAULTUSER|]
fullname     = |FULLNAME|
defaultuser  = |DEFAULTUSER|
secret       = |SECRET|
hassip       = yes
hasvoicemail = no
host         = dynamic
type         = friend
context      = context-user-|CONTEXTNAME|
qualify      = no