
[peer-|NAME|]
type          = peer
defaultuser   = |DEFAULTUSER|
fromuser      = |FROMUSER|
secret        = |SECRET|
host          = |HOST|
fromdomain    = |FROMDOMAIN|
context       = context-incoming-|NAME|
insecure      = port,invite
qualify       = 2000
|PORT|
|OUTBOUNDPROXY|
