<%+header%>

<h1><%:stat_networkplugins Network plugins%></h1>

<p><%:stat_networkplugins_desc Network plugins are used to collect information
about open tcp connections, interface traffic, iptables rules etc.%></p>

<p><%:stat_networkplugins_installed Installed network plugins:%>
	<ul>
		<% for plugin, desc in pairs(plugins) do %>
			<% if luci.fs.isfile("/usr/lib/collectd/" .. plugin .. ".so") then %>
				<li><a href="/cgi-bin/luci/admin/statistics/network/<%=plugin%>"><%=desc%></a></li>
			<% end %>
		<% end %>
	</ul>
</p>

<%+footer%>
