<%+header%>

<h1><%:stat_outputplugins Output plugins%></h1>

<p><%:stat_outputplugins_desc Output plugins provide different possibilities to store collected data.
It is possible to enable multiple plugin at one, for example to store collected data in rrd databases
and to transmit the data over the network to other collectd instances.%></p>

<p><%:stat_outputplugins_installed Installed output plugins:%>
	<ul>
		<% for plugin, desc in pairs(plugins) do %>
			<% if luci.fs.isfile("/usr/lib/collectd/" .. plugin .. ".so") then %>
				<li><a href="/cgi-bin/luci/admin/statistics/output/<%=plugin%>"><%=desc%></a></li>
			<% end %>
		<% end %>
	</ul>
</p>

<%+footer%>
