<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2018 Jo-Philipp Wich <jo@mein.io>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<%-
	local node, redir_url = luci.dispatcher.lookup(luci.http.formvalue("redir"))
	export("redirect", redir_url or url("admin/uci/changes"))

	include("admin_uci/changelog")
-%>

<h2 name="content"><%:Configuration%> / <%:Changes%></h2>

<% if changes then %>
	<%- uci_changelog(changes) -%>
<% else %>
	<p><strong><%:There are no pending changes!%></strong></p>
<% end %>

<div class="alert-message" id="cbi_apply_status" style="display:none"></div>

<div class="cbi-page-actions">
	<% if redir_url then %>
	<form method="get" action="<%=luci.util.pcdata(redir_url)%>">
		<input class="cbi-button cbi-button-link" type="submit" value="<%:Back%>" />
	</form>
	<% end %>

	<form method="post" action="<%=url("admin/uci/changes")%>">
		<input type="hidden" name="token" value="<%=token%>" />
		<input type="hidden" name="redir" value="<%=pcdata(luci.http.formvalue("redir"))%>" />
		<input class="cbi-button cbi-button-save" type="submit" name="trigger_apply" value="<%:Save & Apply%>" />
	</form>
	<form method="post" action="<%=url("admin/uci/revert")%>">
		<input type="hidden" name="token" value="<%=token%>" />
		<input type="hidden" name="redir" value="<%=pcdata(luci.http.formvalue("redir"))%>" />
		<input class="cbi-button cbi-button-reset" type="submit" value="<%:Revert%>" />
	</form>
</div>

<%+footer%>
