<%+header%>
<h1><%:olsr_links%></h1>
<p><%:olsr_links1%></p>
<br />
<table cellspacing="0" cellpadding="6">
<tr>
<th><%:destination%></th>
<th><%:local%></th>
<th>LQ</th>
<th>NLQ</th>
<th>ETX</th>
</tr>
<% for k, link in ipairs(links) do 
	if link.Linkcost then
		link.LinkQuality, link.NLQ, link.ETX = link.Linkcost:match("(.*)/(.*)\t(.*)")
	end
	local color = "#bb3333"
	
	link.ETX = tonumber(link.ETX)
	if link.ETX == 0 then
		color = "#bb3333"
	elseif link.ETX < 4 then
		color = "#00cc00"
	elseif link.ETX < 10 then
		color = "#ffcb05"
	elseif link.ETX < 100 then
		color = "#ff6600"
	end
%>
<tr>
<td><a href="http://<%=link["remote IP"]%>"><%=link["remote IP"]%></a></td>
<td><%=link["Local IP"]%></td>
<td><%=link.LinkQuality%></td>
<td><%=link.NLQ%></td>
<td style="background-color:<%=color%>"><%=link.ETX%></td>
</tr>
<% end %>
</table>
<br />
<h3><%:legend%>:</h3>
<ul>
<li><strong>LQ: </strong><%:olsrlinks_lq1%></li>
<li><strong>NLQ: </strong><%:olsrlinks_nlq1%></li>
<li><strong>ETX: </strong><%:olsrlinks_etx1%></li>
</ul>
<%+footer%>