<%+header%>
<h1><%:olsr_topology%></h1>
<br />
<table cellspacing="0" cellpadding="6">
<tr>
<th><%:destination%></th>
<th><%:olsr_lasthop%></th>
<th>LQ</th>
<th>ILQ</th>
<th>ETX</th>
</tr>
<% for k, route in ipairs(routes) do %>
<tr>
<td><a href="http://<%=route["Destination IP"]%>"><%=route["Destination IP"]%></a></td>
<td><a href="http://<%=route["Last hop IP"]%>"><%=route["Last hop IP"]%></a></td>
<td><%=route.LQ%></td>
<td><%=route.ILQ%></td>
<td><%=route.ETX%></td>
</tr>
<% end %>
</table>
<br />
<%+footer%>