<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>
<% 
local uci = require "luci.model.uci".cursor()
local tpl = require "luci.template"
local fs = require "nixio.fs"

local community = uci:get("freifunk", "community", "name") or "Freifunk"
local DefaultText = uci:get("freifunk", "community", "DefaultText") or ""
local nickname = uci:get("freifunk", "contact", "nickname") or "No Nickname set"

local co = "profile_" .. community
--local community = uci:get_first(co, "community", "name") or "Freifunk"
local url = uci:get_first(co, "community", "homepage") or "http://www.freifunk.net"


local usertext = fs.readfile("/www/luci-static/index_user.html")

if DefaultText ~= "disabled" then

	defaulttext = '<h2><a id="content" name="content">'..
	(translate("Hello and welcome in the network of"))..
	' '..
	(community or "Freifunk Deutschland")..
	'!</a></h2><p>'..
	translate("We are an initiative to establish a free, independent and open wireless mesh network.")..
	'<br />'..
	translate("This is the access point")..
	' '..
	luci.sys.hostname()..
	'. '..
	translate("It is operated by")..
	' <a href="'..
	luci.dispatcher.build_url("freifunk", "contact")..
	'">'..
	(nickname or translate("Please set your contact information"))..
	'</a>.</p><p>'..
	translate("You can find further information about the global Freifunk initiative at")..
	' <a href="http://freifunk.net">Freifunk.net</a>.<br />'..
	translate("If you are interested in our project then contact the local community")..
	' <a href="'..url..'">'..community..'</a>.</p><p><strong>'..
	translate("Notice")..
	'</strong>: '..
	translate("Internet access depends on technical and organisational conditions and may or may not work for you.")..
	'</p>'
end
%>

<%=defaulttext%>
<%=usertext%>

<%
-- add custom widgets from view/freifunk/widgets
local widgets = {}
local dir = "/usr/lib/lua/luci/view/freifunk/widgets"

uci:foreach("freifunk-widgets", "widget",
			function(s)
				if s.enabled == "1" then
					table.insert(widgets, s)
				end
			end)

for k, v in ipairs(widgets) do
	if v['template'] and fs.access(dir .. "/" .. v['template'] .. "/main.htm") then
		tpl.render("freifunk/widgets/" .. v['template'] .. "/main", { data = v })
	end
end

%>
<%+footer%>
