@charset "utf-8";

@media all {

div.dashicon a {
	background-image: url(icons/default.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	display: block;
	width: 90px;
  padding-top: 80px;
  color: #000000;	
	text-decoration: none;
	text-align: center;
	text-width:;
	margin: 1em;	
	font-weight: bold;
}

div.di_network a {
	background-image: url(icons/network.png);
}
div.di_wireless a {
	background-image: url(icons/wireless.png);
}

div.di_vlan a {
	background-image: url(icons/vlan.png);
}

div.di_guide a {
	background-image: url(icons/guide.png);
}

div.di_nfsd a {
	background-image: url(icons/nfsd.png);
}

div.di_luci a {
	background-image: url(icons/desktop.png);
}

div.di_index a {
	background-image: url(icons/overview.png);
}

div.di_logout a {
	background-image: url(icons/logout.png);
}

div.di_freifunk a {
	background-image: url(icons/freifunk.png);
}

div.di_status a {
	background-image: url(icons/status.png);
}

div.di_system a {
	background-image: url(icons/system.png);
}

div.di_ntpc a {
	background-image: url(icons/datetime.png);
}

div.di_leds a {
	background-image: url(icons/lightbulb.png);
}

div.di_reboot a {
	background-image: url(icons/restart.png);
}

div.di_admin a {
	background-image: url(icons/login128.png);
	float: none;
left:10%;
top: 80px;
padding-top: 180px;
margin-left:auto; 
margin-right:auto;
width: 256px;
color: #000000;
letter-spacing: 10px;
font-size:20px;
}

div.di_statistics a {
	background-image: url(icons/stats.png);
}

div.di_packages a {
	background-image: url(icons/package.png);
}

div.di_sshkeys a {
	background-image: url(icons/key.png);
}

div.di_upgrade a {
	background-image: url(icons/flash.png);
}

div.di_flashops a {
	background-image: url(icons/flash.png);
}

div.di_services a {
	background-image: url(icons/services.png);
}

div.di_backup a {
	background-image: url(icons/backup.png);
}

div.di_fstab a {
	background-image: url(icons/harddisk.png);
}

div.di_Transmission a {
	background-image: url(icons/transmission.png);
}

div.di_vsftpd a {
	background-image: url(icons/vsftpd.png);
}
div.di_mldonkey a {
	background-image: url(icons/mldonkey.png);
}
div.di_nwan a {
	background-image: url(icons/nwan.png);
}
div.di_nwannumset a {
	background-image: url(icons/nwan.png);
}
div.di_externaldevice a {
	background-image: url(icons/externaldevice.png);
}
div.di_diskapply a {
	background-image: url(icons/diskapply.png);
}
div.di_email a {
	background-image: url(icons/email.png);
}
div.di_p910nd a {
	background-image: url(icons/p910nd.png);
}
div.di_samba a {
	background-image: url(icons/samba.png);
}
div.di_Free_Memory a {
	background-image: url(icons/memory.png);
}
div.di_routes a {
	background-image: url(icons/routes.png);
}
div.di_overview a {
	background-image: url(icons/overview.png);
}
div.di_firewall a {
	background-image: url(icons/firewall.png);
}
div.di_iptables a {
	background-image: url(icons/firewall.png);
}
div.di_syslog a {
	background-image: url(icons/syslog.png);
}
div.di_dmesg a {
	background-image: url(icons/dmesg.png);
}
div.di_bandwidth a {
	background-image: url(icons/bandwidth.png);
}
div.di_realtime a {
	background-image: url(icons/bandwidth.png);
}
div.di_connections a {
	background-image: url(icons/connections.png);
}
div.di_processes a {
	background-image: url(icons/processes.png);
}
div.di_load a {
	background-image: url(icons/load.png);
}
div.di_crontab a {
	background-image: url(icons/crontab.png);
}
div.di_ushare a {
	background-image: url(icons/ushare.png);
}
div.di_hd_idle a {
	background-image: url(icons/hd-idle.png);
}
div.di_ddns a {
	background-image: url(icons/ddns.png);
}
div.di_dhcp a {
	background-image: url(icons/dhcp.png);
}

div.di_hosts a {
	background-image: url(icons/hosts.png);
}
div.di_diagnostics a {
	background-image: url(icons/diagnostics.png);
}
div.di_radvd a {
	background-image: url(icons/radvd.png);
}
div.di_wol a {
	background-image: url(icons/wol.png);
}
div.di_openvpn a {
	background-image: url(icons/vpn.png);
}
div.di_mentohust a {
	background-image: url(icons/certificate.png);
}
div.di_pptpd a {
	background-image: url(icons/vpn.png);
}
div.di_n2n a {
	background-image: url(icons/vpn.png);
}

div.di_ipid a {
	background-image: url(icons/qos.png);
}
div.di_qosv4 a {
	background-image: url(icons/qos.png);
}
div.di_qos a {
	background-image: url(icons/qos.png);
}
div.di_startup a {
	background-image: url(icons/startup.png);
}
div.di_upnp a {
	background-image: url(icons/upnp.png);
}
div.di_passkey a {
	background-image: url(icons/key.png);
}
div.di_diskinfo a {
	background-image: url(icons/diskinfo.png);
}
}
