<%+header%>
<h1><%:status Status%></h1>
<h2><%:system System%></h2>

<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:system_type Systemtyp%>:</th>
<td><%=s%></td>
</tr>
<tr>
<th><%:cpu Prozessor%>:</th>
<td><%=m%></td>
</tr>
<tr>
<th><%:ram Hauptspeicher%>:</th>
<td><%=r%></td>
</tr>
</table>
<br /><br />

<h2><%:wifi Drahtlos%></h2>
<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:name Name%></th>
<th><%:protocol Protokoll%></th>
<th><%:frequency Frequenz%></th>
<th><%:power Leistung%></th>
<th><%:bitrate Bitrate%></th>
<th><%:rts RTS%></th>
<th><%:frag Frag.%></th>
<th><%:link Verb.%></th>
<th><%:signal Signal%></th>
<th><%:noise Rausch%></th>
</tr>
<%=ffluci.sys.httpget("http://127.0.0.1" .. controller .. "/sudo/status/iwconfig")%>
</table>
<br />
<br />
<h2><%:defroutes Standardrouten%></h2>
<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:gateway Gateway%></th>
<th><%:metric Metrik%></th>
<th><%:iface Schnittstelle%></th>
</tr>
<%

-- UGLY hack is UGLY
if routes[1] and routes[1].Gateway:sub(-2) == "00" then
	local be = true
else
	local be = false
end


for i, rt in pairs(routes) do
%>
<tr>
<td><%=ffluci.sys.net.hexip4(rt.Gateway, be)%></th>
<td><%=rt.Metric%></th>
<td><%=rt.Iface%></th>
</tr>
<% end %>
</table>
<%+footer%>