<%+header%>
<h1><%:routes Routen%></h1>

<br />
<table cellspacing="0" cellpadding="6" class="smalltext">
<tr>
<th><%:target Ziel%></th>
<th><%:netmask Netzmaske%></th>
<th><%:gateway Gateway%></th>
<th><%:metric Metrik%></th>
<th><%:iface Schnittstelle%></th>
</tr>
<%
local routes = ffluci.sys.net.routes()

-- UGLY hack is UGLY
if routes[1] and routes[1].Gateway:sub(-2) == "00" then
	local be = true
else
	local be = false
end

for i, r in pairs(routes) do
%>
<tr>
<td><%=ffluci.sys.net.hexip4(r.Destination, be)%></td>
<td><%=ffluci.sys.net.hexip4(r.Mask, be)%></td>
<td><%=ffluci.sys.net.hexip4(r.Gateway, be)%></td>
<td><%=r.Metric%></td>
<td><%=r.Iface%></td>
</tr>
<% end %>
</table>
<br />
<%+footer%>