<%+header%>
<% local contact = ffluci.model.uci.show("freifunk", "contact").freifunk.contact %>
<h1><%:contact Kontakt%></h1>
<table class="contact">
	<tr><th style="text-align: right"><%:nickname Pseudonym%>:</th><td><%=contact.nickname%></td></tr>
	<tr><th style="text-align: right"><%:name Name%>:</th><td><%=contact.name%></td></tr>
	<tr><th style="text-align: right"><%:mail E-Mail%>:</th><td><%=contact.mail%></td></tr>
	<tr><th style="text-align: right"><%:phone Telefon%>:</th><td><%=contact.phone%></td></tr>
	<tr><th style="text-align: right"><%:location Standort%>:</th><td><%=contact.location%></td></tr>
	<tr><th style="text-align: right"><%:geocoord Geokoordinaten%>:</th><td><%=contact.geo%></td></tr>
	<tr><th style="text-align: right"><%:note Notiz%>:</th><td><%=contact.note%></td></tr>
</table>
<%+footer%>