<%+header%>
<h1><%:services Dienste%></h1>
<p><%:services1 Dienste und Dämonen stellen bestimmte Funktionalitäten auf dem Router zur Verfügung.%></p>
<p><%:services2 Es handelt sich hierbei meist um Netzwerkserver, die verschiedene Aufgaben auf dem Router erfüllen,
beispielsweise Shell-Zugang ermöglichen oder diese Weboberfläche per HTTP anbieten.%></p>
<p><%:servcies3 In diesen Bereich fallen auch die Meshnetzwerkdienste wie OLSR und BATMAN, die dabei helfen,
ein autarkes Ad-Hoc Netzwerk aufzubauen.%></p>
<%+footer%>