<script type="text/javascript">//<![CDATA[
	function upnp_delete_fwd(idx) {
		(new XHR()).post('<%=url("admin/services/upnp/delete")%>' + idx, { token: '<%=token%>' },
			function(x)
			{
				var status_table = document.getElementById('upnp_status_table');
				if (status_table && (idx + 1 < status_table.childNodes.length))
					status_table.removeChild(status_table.childNodes[idx + 1]);
			}
		);
	}
	
	function _loadtableUPnP(x, data) {
		var status_table = document.getElementById('upnp_status_table');
		var legendtb = document.getElementById('upnp_status_table_legend');
		if (status_table)
		{
			/* clear all rows */
			while (status_table.firstElementChild !== status_table.lastElementChild)
				status_table.removeChild(status_table.lastElementChild);

			for (var i = 0; i < data.length; i++)
				status_table.appendChild(E('<div class="tr cbi-section-table-row cbi-rowstyle-%d">'.format((i % 2) + 1), [
					E('<div class="td">', data[i].proto),
					E('<div class="td">', data[i].extport),
					E('<div class="td">', data[i].intaddr),
					E('<div class="td">', data[i].intport),
					E('<div class="td">', data[i].descr),
					E('<input class="cbi-button cbi-input-remove" type="button" value="<%:Delete%>" onclick="upnp_delete_fwd(%d)" />'.format(data[i].num))
				]));

			if (status_table.firstElementChild === status_table.lastElementChild)
				status_table.appendChild(E('<div class="tr cbi-section-table-row"><div class="td"><em><br /><%:There are no active redirects.%></em></div></div>'));
			else
				if (legendtb)
					legendtb.setAttribute("style", "display:table-row");
		}
		return ;
	}
	
	var mutationObserver = new MutationObserver(function(mutations) {
		// force to immediate show status (not waiting for XHR.poll)
		XHR.get('<%=url([[admin]], [[services]], [[upnp]], [[status]])%>', null,
			function(x, data) {
				if (data) { return _loadtableUPnP(x, data); }
			}
		);

		//start polling data every 5 second
		XHR.poll(5, '<%=url([[admin]], [[services]], [[upnp]], [[status]])%>', null,
			function(x, data)
			{
				if (data) { return _loadtableUPnP(x, data); } 
			}
		);
		this.disconnect()
	});
	
	mutationObserver.observe(document.getElementById("ddns_status_table") || document.getElementById("wifi_assoc_table"), {
		childList: true,
	});
//]]></script>

<fieldset class="cbi-section">
	<legend><%:Active UPnP Redirects%></legend>
	<div class="table cbi-section-table" id="upnp_status_table">
		<div class="tr cbi-section-table-titles" id="upnp_status_table_legend" style="display:none;">
			<div class="th cbi-section-table-cell"><%:Protocol%></div>
			<div class="th cbi-section-table-cell"><%:External Port%></div>
			<div class="th cbi-section-table-cell"><%:Client Address%></div>
			<div class="th cbi-section-table-cell"><%:Client Port%></div>
			<div class="th cbi-section-table-cell"><%:Description%></div>
			<div class="th cbi-section-table-cell">&#160;</div>
		</div>
		<div class="tr cbi-section-table-row">
			<div class="td" colspan="5"><em><br /><img src="<%=resource%>/icons/loading.gif" style="vertical-align:middle" /><%:Collecting data...%></em></div>
		</div>
	</div>
</fieldset>
