<h2 class="menu-title">LuCI UVLDoc</h2>
<ul class="menu-index">
<li<%-if not scheme then%> class="menu-active"<%-end-%>>
	<a href="<%=self:_index_filename()%>">Index</a>
</li>
<% for k, v in luci.util.kspairs(self.schemes) do %>
<li<%-if scheme == k then%> class="menu-active"<%-end-%>>
	<a href="<%=self:_scheme_filename(k)%>"><%=k%></a>
	<%-if scheme == k then-%>
	<ul>
		<%-for k2, v2 in luci.util.kspairs(v.sections) do%>
		<li><a href="<%=self:_section_filename(k, k2)%>"><%=k2%></a></li>
		<%end-%>
	</ul>
	<%-end%>
</li>
<%-end%>
</ul>